<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.112.5">
  <title>ChatConnect</title>

  <!-- LINK FAVICON -->
  <link rel="shortcut icon" href="/svg/ConnectLogo.svg" type="image/x-icon">

  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">


  <link href="../css/bootstrap-icons.css" rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="../css/aos.css" rel="stylesheet" />
  <link href="../css/boxicons.min.css" rel="stylesheet" />
  <link href="../css/glightbox.min.css" rel="stylesheet" />
  <link href="../css/remixicon.css" rel="stylesheet" />
  <link href="../css/bootstrap-icons.css" rel="stylesheet" />
  <link href="../css/swiper-bundle.min.css" rel="stylesheet" />
  <!-- lINK TO BOOTSTRAP CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <!-- HEADER CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- Custom styles for this template -->
  <link href="../css/Chat/chat.css" rel="stylesheet">




</head>

<body>


  <!-- /*--------------------------------------------------------------
# BACK TO TOP
--------------------------------------------------------------*/ -->
  <div class="opacity" id="uparrow">
    <svg id="svgarrow" width="25" height="25" fill="currentColor"
      class="bi bi-arrow-up-short" viewBox="0 0 16 16">
      <path
        d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
    </svg>
  </div>

  <!-- /*--------------------------------------------------------------
# header
--------------------------------------------------------------*/ -->
  <%- include("../partials/header.ejs") %>

    <!-- /*--------------------------------------------------------------
# light icon
--------------------------------------------------------------*/ -->
    <%- include("../partials/lighticon.ejs") %>

      <!-- /*--------------------------------------------------------------
# body and sidebar
--------------------------------------------------------------*/ -->

      <main class="d-flex flex-nowrap" style="height: 89vh;">


        <!-- SIDEBAR -->
        <div id="sidelist" class=" flex-shrink-0 p-3">

          <div class="d-flex flex-column text-center position-relative">
            <img id="oncotips" src="../svg/chat.svg" alt="">
          </div>

          <li class=" border-top my-3 notlist" style="list-style: none;"></li>

          <% if (array.length>= 1) { %>
            <ul class="list-unstyled ps-0 mainul">
              <% array.forEach((item)=> { %>
                <li id="selectdiv" class="select">
                  <div class=" d-flex flex-wrap align-items-center border border-secondary-subtle rounded-2 my-2 p-2">
                    <img class="ms-2 rounded-circle" width="25vw" height="25vh" src="<%= item.profileimage %>" alt="">
                    <div class="mx-2" style="border: 1px solid; height: 25px;"></div>
                    <p class="mb-0 border-0">
                      <%= item.firstname + "." + item.lastname %>
                    </p>
                  </div>
                </li>
                <% }) %>
            </ul>
            <% } %>

              <li class=" border-top my-3 notlist" style="list-style: none;"></li>
        </div>




        <div class="container" id="container" style="position: fixed; top: 80px; right:0; width: 78vw; height: 75vh;">

          <p class="mb-0"><u><i>${message.time} ${message}</i></u></p>
          <p class="mb-0">${message}</p>
        </div>

        <div id="container2">
          <div class="container wrapper d-flex text-center align-items-center"
            style="position: fixed; top: 610px; right:0; width: 78vw; height: 8vh; padding: 0;">
            <div>
              <form class="d-flex p-2" id="chatform" action="" style="border: 1px solid; border-radius: 10px;">
                <label for="chat"></label>
                <input type="text" class="form-control" name="chat" id="chat">
                <button type="submit" class="btn btn-primary ms-2 d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send"
                    viewBox="0 0 16 16">
                    <path
                      d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                  </svg>
                  <span class="ms-1">Send</span>
                </button>
              </form>
            </div>
          </div>
        </div>


        <!-- <p class="mb-0"><u><i>${message} ${message}</i></u></p><p class="mb-0">${message}</p> -->
      </main>


      <!-- LINK TO jQuary -->
      <script src="../js/jquery-3.7.1.min.js"></script>

      <!-- LINK TO BOOTSTRAP.JS -->
      <script src="../js/aos.js"></script>
      <script src="../js/bootstrap.bundle.min.js"></script>
      <script src="../js/glightbox.min.js"></script>
      <script src="../js/isotope.pkgd.min.js"></script>
      <script src="../js/swiper-bundle.min.js"></script>
      <script src="../js/noframework.waypoints.js"></script>
      <script src="../js/validate.js"></script>
      <script src="../js/main.js"></script>
      <!-- LINK TO CUSTOM JS -->
    
    
</body>

</html>