<!-- ADD PATIENT MODAL -->
<div class="connectmodal modal fade" id="exampleModal2" data-bs-backdrop="static" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="glass modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
        Add Patient
      </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form id="add_patient_inpatient">

        <div class="mb-3">
          <label hidden for="patientname" class="col-form-label">Patient Name</label>
          <input hidden name="patientname" type="text" class="form-control" id="patientname" />
        </div>

        <div class="mb-3">
          <label for="mrn" class="col-form-label">MRN</label>
          <input name="mrn" type="text" class="form-control" id="mrn" />
        </div>

        <div id="nopatient" class=" d-flex flex-row align-items-center my-2 d-none"
          style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
          <img class="ms-1" src="/svg/alertsign-02.svg" height="20vh" alt="">
          <p class="my-1 ms-1">This Patient Not Found</p>
        </div>

        <div class="mb-3">
          <label for="ptfloor" class="form-label" hidden>Patient Floor</label>
          <select id="ptfloor" name="ptfloor" class="form-select" hidden>
            <option disabled hidden selected>
              <%= floor %>
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label for="requestype" class="form-label">Request Type</label>
          <select class="form-select" name="requestype" id="requestype">
            <option selected hidden disabled>Choose....</option>
            <option>Chemotherapy</option>
            <option>Zofran</option>
            <option>Hydration</option>
            <option>TPN</option>
            <option>Modification</option>
            <option>ExtraDose</option>
            <option style="color: blue;">DisCharge Medication</option>
            <option style="color: red;">Refill</option>
            <option style="color: red;">Product Assign</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="oraliv" class="form-label">Oral/IV</label>
          <select required class="form-select" id="oraliv" name="oraliv">
            <option selected hidden disabled>Choose....</option>
            <option>Oral</option>
            <option>IV</option>
            <option>Pyxis</option>
          </select>
        </div>

        <div id="iv_oralnot" class=" d-flex flex-row align-items-center my-2 d-none"
          style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
          <img class="ms-1" src="/svg/alertsign-02.svg" height="20vh" alt="">
          <p class="my-1 ms-1">You Must Enter This Field</p>
        </div>

        <div class="mb-3">
          <label for="roundcomment" class="col-form-label">Round Comment</label>
          <input dir="rtl" name="roundcomment" class="form-control" id="roundcomment">
        </div>

        <div class="mb-3 d-none">
          <label for="prepcomment" class="col-form-label"></label>
          <input dir="rtl" name="prepcomment" type="text" class="form-control" id="prepcomment" />
        </div>

        <input hidden name="attachfile" type="text" class="form-control" id="attachfile" value="" />

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="submit" class="btn btn-primary">
        Send message
      </button>
      </form>
    </div>
  </div>
</div>
</div>