<header id="header">
  <div class="container d-flex align-items-center justify-content-around">

    
      <img src="/svg/PharmacyConnectLogo2.svg" height="50rem" alt="">
      
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/interface">Home</a></li>
          <li><a class="nav-link scrollto" href="/STRUCTURE">About</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          
          <li><a class="getstarted scrollto" href="#services">Get Started</a></li>
        </ul>
      
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    
    <div class="dropdown">
      <a href="" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/img/Avatar/Untitled-1-01.png" alt="" width="32" height="32" class="rounded-circle me-2" />
        <strong><%= user.firstname %></strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        
        <!-- <li>
          <hr class="dropdown-divider" />
        </li> -->
        <li><a class="dropdown-item" href="/signout">Sign out</a></li>
      </ul>
    </div>
  </div>
</header><!-- End Header -->