<style>
  @keyframes rotate {
  0% {
    rotate: 0deg;
  }

  50% {
    rotate: 180deg;
  }

  100% {
    rotate: 360deg;
  }
}

#gear2{
  transition: all 1s;
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
</style>

<div id="icon_div" class="disappearicon d-flex align-items-center justify-content-between p-1"
  style="width: 220px;  border-radius: 5px; background-color:rgb(218, 226, 225);">
  <i id="gear2" class="fa-solid fa-gear fa-2xl" style="color: #407de6;"></i>
  
  <!-- FIND BY DATE -->
  <a data-tooltip="Find By Date" data-flow="top" style="background-color: rgb(41, 39, 39);" href="" id="find"
    class="rounded-2 d-inline-flex p-1" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    <svg  width="25" height="25" style="fill: white;" class="bi bi-search"
      viewBox="0 0 16 16">
      <path
        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
    </svg>

  </a>

  <!-- ADD TO LAB -->
  <a data-tooltip="Add To Lab" data-flow="top" style="background-color: rgb(0, 42, 255);" href="" id="editicon"
    class="rounded-2 d-inline-flex p-1" data-bs-toggle="modal" data-bs-target="#exampleModal4">
    <svg style="fill: aliceblue" width="25" height="25"
      class="bi bi-person-bounding-box" viewBox="0 0 16 16">
      <path
        d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5" />
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
    </svg>
  </a>

  <!-- ADD PATIENT -->
  <a data-tooltip="Add Patient" data-flow="top" style="background-color: rgb(0, 42, 255);" href="" id="editicon"
    class="rounded-2 d-inline-flex p-1" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    <svg style="fill: aliceblue"  width="25" height="25" fill="currentColor"
      class="bi bi-pencil" viewBox="0 0 16 16">
      <path
        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
    </svg>
  </a>

    <!-- ADD STAT -->
    <a data-tooltip="Add Stat" data-flow="top" style="background-color: rgb(0, 42, 255);" href="" id="editicon"
    class="rounded-2 d-inline-flex p-1" data-bs-toggle="modal" data-bs-target="#exampleModal5">
    <svg id="Objects" width="25" height="25" viewBox="0 0 1642.83 1798.86">
      <defs>
        <style>
          .cls-1 {
            fill: #fff;
          }
    
          .cls-2 {
            fill: #1d1d1b;
          }
        </style>
      </defs>
      <path class="cls-1" d="m1572.26,1455.78c0,58.62-47.52,106.13-106.13,106.13H176.7c-58.6,0-106.13-47.5-106.13-106.13,0-20.13,5.69-39.38,15.88-55.84,10.2-16.48,24.9-30.15,42.92-39.13,38.33-19.1,69.59-48.22,91.28-83.25,21.7-35.05,33.8-76.02,33.8-118.84v-415.76c0-267.09,184.69-491.04,433.32-551.12-.63-5.2-.94-10.49-.94-15.85,0-74.33,60.25-134.58,134.58-134.58s134.58,60.25,134.58,134.58c0,5.36-.31,10.65-.94,15.85,102.89,24.85,194.83,77.77,267.27,150.2,102.6,102.6,166.06,244.34,166.06,400.91v415.76c0,85.64,48.44,163.89,125.08,202.09,18.02,8.98,32.72,22.65,42.92,39.13,10.2,16.46,15.88,35.71,15.88,55.84Z"/>
      <path class="cls-2" d="m1006.82,1613.45c0,102.4-83.01,185.41-185.41,185.41s-185.41-83.01-185.41-185.41h370.82Z"/>
      <path class="cls-2" d="m154.89,627.56c-1.71,0-3.44-.17-5.18-.54-13.59-2.85-22.31-16.17-19.46-29.76,21.46-102.53,64.55-197.01,128.08-280.82,61.73-81.43,141.93-149.78,231.94-197.65,12.26-6.52,27.49-1.87,34.01,10.39,6.52,12.26,1.87,27.49-10.39,34.01-83.62,44.47-158.13,107.97-215.48,183.63-59,77.83-99.01,165.56-118.93,260.74-2.48,11.86-12.94,20-24.59,20Z"/>
      <path class="cls-2" d="m25.18,612.95c-1.58,0-3.19-.15-4.8-.46-13.63-2.64-22.55-15.83-19.92-29.46,23.71-122.67,75.95-240.58,151.09-340.97C225.54,143.2,322.22,60.51,431.15,2.92c12.28-6.49,27.49-1.8,33.98,10.48,6.49,12.28,1.8,27.49-10.48,33.98-102.39,54.13-193.27,131.87-262.83,224.81-70.61,94.35-119.71,205.13-141.98,320.38-2.32,12.02-12.86,20.38-24.66,20.38Z"/>
      <path class="cls-2" d="m1487.94,627.56c-11.65,0-22.11-8.14-24.59-20-19.92-95.19-59.93-182.91-118.93-260.74-57.35-75.66-131.87-139.16-215.48-183.63-12.26-6.52-16.92-21.75-10.39-34.01,6.52-12.26,21.75-16.92,34.01-10.39,90.01,47.87,170.22,116.22,231.94,197.65,63.53,83.81,106.62,178.29,128.08,280.82,2.85,13.59-5.87,26.92-19.46,29.76-1.74.36-3.47.54-5.18.54Z"/>
      <path class="cls-2" d="m1617.65,612.95c-11.81,0-22.34-8.36-24.66-20.38-22.27-115.25-71.37-226.04-141.98-320.38-69.56-92.94-160.45-170.68-262.83-224.81-12.28-6.49-16.97-21.71-10.48-33.98,6.49-12.28,21.7-16.97,33.98-10.48,108.92,57.58,205.6,140.28,279.59,239.14,75.14,100.4,127.39,218.3,151.09,340.97,2.64,13.64-6.28,26.83-19.92,29.46-1.61.31-3.22.46-4.8.46Z"/>
    </svg>
  </a>

  <!-- NEW -->
  <a data-tooltip="New" data-flow="top" style="background-color: rgb(203, 58, 58);" href="" id="addpatient"
    class="rounded-2 d-inline-flex p-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">
    <svg style="fill: aliceblue"  width="25" height="25" class="bi bi-person-fill-add"
      viewBox="0 0 16 16">
      <path
        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
      <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
    </svg>
  </a>


</div>

<script>
    


  const icondiv = document.querySelector("#icon_div");
  
  if (localStorage.getItem('iconbar') === 'NO') {
    icondiv.classList.remove('appearicon')
  } else {
    icondiv.classList.add('appearicon')
  }
  const gear2 = document.querySelector("#gear2");
  gear2.addEventListener("click", (eo) => {
    if (localStorage.getItem('iconbar') === 'NO') {
      localStorage.setItem('iconbar', 'YES')
      icondiv.classList.add("appearicon")
    } else if (localStorage.getItem('iconbar') === 'YES') {
      localStorage.setItem('iconbar', 'NO')
      icondiv.classList.remove("appearicon")
    }
  });
</script>

