<nav aria-label="Page navigation" style="position: absolute; top: 97%;
                  left: 50%;
                  transform: translate(-50%, -50%);">
  <ul class="pagination justify-content-center ">
    <li class="page-item">
      <a class="page-link" href="" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="mynumber page-item <% if (num >=0) { %>
                         d-block <% } else { %>
                          d-none
                        <% } %>"><a class="page-link" href="?page=1">1</a></li>

    <li class="mynumber page-item <% if (num > 5) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=2">2</a></li>

    <li class="mynumber page-item mynumber page-item <% if (num > 10) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=3">3</a></li>

    <li class="mynumber page-item mynumber page-item <% if (num > 15) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=4">4</a></li>

    <li class="mynumber page-item mynumber page-item <% if (num > 20) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=5">5</a></li>

    <li class="mynumber page-item mynumber page-item <% if (num > 25) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=6">6</a></li>

    <li class="mynumber page-item mynumber page-item <% if (num > 30) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=7">7</a></li>

    <li class="mynumber page-item mynumber page-item <% if (num > 35) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=8">8</a></li>

    <li class="mynumber page-item mynumber page-item <% if (num > 40) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=9">9</a></li>

    <li class="mynumber page-item mynumber page-item <% if (num > 45) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=10">10</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 50) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=11">11</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 55) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=12">12</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 60) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=13">13</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 65) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=14">14</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 70) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=15">15</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 75) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=16">16</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 80) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=17">17</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 85) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=18">18</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 90) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=19">19</a></li>
    <li class="mynumber page-item mynumber page-item <% if (num > 100) { %>
                          d-block <% } else { %>
                           d-none
                         <% } %>"><a class="page-link" href="?page=20">20</a></li>


    <li class="page-item">
      <a class="Next page-link" href="" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>