<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PharmacyConnect</title>
  <link rel="shortcut icon" href="../svg/ConnectLogo.svg" type="image/x-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/boxicons.min.css" rel="stylesheet">
  <link href="../css/aos.css" rel="stylesheet">
  <link href="../css/bootstrap-icons.css" rel="stylesheet">
  <link href="../css/glightbox.min.css" rel="stylesheet">
  <link href="../css/remixicon.css" rel="stylesheet">
  <link href="../css/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../css/style.css" rel="stylesheet" />

  <!-- MY STYLE CSS -->
  <link rel="stylesheet" href="../css/index2.css" />
</head>

<body>
  <!-- header -->
  <%- include("partials/header.ejs") %>

  <!-- light icon -->
  <%- include("partials/lighticon.ejs") %>

  <section class="py-1">
    <div class="container mt-0">

      <?xml version="1.0" encoding="UTF-8"?>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1680.72 800">
        <defs>
          <radialGradient id="radial-gradient" cx="706.52" cy="236.33" fx="706.52" fy="236.33" r="472.04"
            gradientUnits="userSpaceOnUse">
            <stop offset=".04" stop-color="#d8d9dd" />
            <stop offset=".55" stop-color="#eceef0" />
            <stop offset="1" stop-color="#f6f6f7" />
          </radialGradient>
          <filter id="drop-shadow-1" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="radial-gradient-2" cx="840.74" cy="377.64" fx="840.74" fy="377.64" r="195.64"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#828282" />
            <stop offset=".3" stop-color="#838384" stop-opacity=".98" />
            <stop offset=".47" stop-color="#8a8a8a" stop-opacity=".92" />
            <stop offset=".6" stop-color="#959696" stop-opacity=".81" />
            <stop offset=".72" stop-color="#a5a6a7" stop-opacity=".66" />
            <stop offset=".83" stop-color="#babbbc" stop-opacity=".47" />
            <stop offset=".92" stop-color="#d3d5d6" stop-opacity=".23" />
            <stop offset="1" stop-color="#eceef0" stop-opacity="0" />
          </radialGradient>
          <filter id="drop-shadow-2" filterUnits="userSpaceOnUse">
            <feOffset dx="20" dy="20" />
            <feGaussianBlur result="blur-2" stdDeviation="15" />
            <feFlood flood-color="#000" flood-opacity=".2" />
            <feComposite in2="blur-2" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-3" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-3" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-3" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="linear-gradient" x1="720.1" y1="391.41" x2="966.37" y2="391.41"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fff" />
            <stop offset="1" stop-color="#d5d5d5" />
          </linearGradient>
          <filter id="drop-shadow-4" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-4" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-4" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-5" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-5" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-5" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="Degradado_sin_nombre_2" data-name="Degradado sin nombre 2" cx="1047.68" cy="391.03"
            fx="1047.68" fy="391.03" r="152.95" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#eceef0" />
            <stop offset="1" stop-color="#f6f6f7" />
          </radialGradient>
          <filter id="drop-shadow-6" filterUnits="userSpaceOnUse">
            <feOffset dx="4" dy="4" />
            <feGaussianBlur result="blur-6" stdDeviation="4" />
            <feFlood flood-color="#000" flood-opacity=".15" />
            <feComposite in2="blur-6" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_1386" data-name="Degradado sin nombre 1386" x1="1007.11" y1="166.4"
            x2="1504.57" y2="166.4" gradientTransform="translate(-14.03) scale(1.02 1)" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fff" />
            <stop offset=".05" stop-color="#fafafa" />
            <stop offset=".27" stop-color="#e6e6e6" />
            <stop offset=".38" stop-color="#ececec" />
            <stop offset=".7" stop-color="#fafafa" />
            <stop offset=".98" stop-color="#fff" />
          </linearGradient>
          <filter id="drop-shadow-7" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-7" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-7" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_66" data-name="Degradado sin nombre 66" x1="1031.05" y1="112.03"
            x2="1359.01" y2="112.03" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#00aaf2" />
            <stop offset="1" stop-color="#64dcfc" />
          </linearGradient>
          <filter id="drop-shadow-8" filterUnits="userSpaceOnUse">
            <feOffset dx="15" dy="15" />
            <feGaussianBlur result="blur-8" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-8" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="radial-gradient-3" cx="1062.87" cy="164.76" fx="1062.87" fy="164.76" r="72.76"
            gradientTransform="translate(427.81 -703.3) rotate(45)" xlink:href="#radial-gradient" />
          <filter id="drop-shadow-9" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-9" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-9" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-10" filterUnits="userSpaceOnUse">
            <feOffset dx="20" dy="20" />
            <feGaussianBlur result="blur-10" stdDeviation="15" />
            <feFlood flood-color="#000" flood-opacity=".2" />
            <feComposite in2="blur-10" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-11" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-11" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-11" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_49" data-name="Degradado sin nombre 49" x1="1002.88" y1="167.03"
            x2="1121.87" y2="167.03" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#fff" />
            <stop offset=".31" stop-color="#fbfbfb" />
            <stop offset=".62" stop-color="#efefef" />
            <stop offset=".93" stop-color="#dbdbdb" />
            <stop offset="1" stop-color="#d5d5d5" />
          </linearGradient>
          <filter id="drop-shadow-12" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-12" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-12" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-13" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-13" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-13" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_1386-2" data-name="Degradado sin nombre 1386" x1="1102.56"
            y1="390.44" x2="1600.02" y2="390.44" xlink:href="#Degradado_sin_nombre_1386" />
          <filter id="drop-shadow-14" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-14" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-14" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="Degradado_sin_nombre_173" data-name="Degradado sin nombre 173" cx="1292.32" cy="336.06"
            fx="1292.32" fy="336.06" r="116.52" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#009eff" />
            <stop offset="1" stop-color="#0072ff" />
          </radialGradient>
          <filter id="drop-shadow-15" filterUnits="userSpaceOnUse">
            <feOffset dx="15" dy="15" />
            <feGaussianBlur result="blur-15" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-15" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="radial-gradient-4" cx="1160.16" cy="388.8" fx="1160.16" fy="388.8" r="72.76"
            xlink:href="#radial-gradient" />
          <filter id="drop-shadow-16" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-16" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-16" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-17" filterUnits="userSpaceOnUse">
            <feOffset dx="20" dy="20" />
            <feGaussianBlur result="blur-17" stdDeviation="15" />
            <feFlood flood-color="#000" flood-opacity=".2" />
            <feComposite in2="blur-17" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-18" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-18" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-18" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_49-2" data-name="Degradado sin nombre 49" x1="1100.17" y1="391.06"
            x2="1219.17" y2="391.06" xlink:href="#Degradado_sin_nombre_49" />
          <filter id="drop-shadow-19" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-19" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-19" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-20" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-20" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-20" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_1386-3" data-name="Degradado sin nombre 1386" x1="1014.72"
            y1="619.96" x2="1512.18" y2="619.96" xlink:href="#Degradado_sin_nombre_1386" />
          <filter id="drop-shadow-21" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-21" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-21" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="Degradado_sin_nombre_81" data-name="Degradado sin nombre 81" cx="1202.79" cy="565.58"
            fx="1202.79" fy="565.58" r="116.52" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#a1a1ff" />
            <stop offset="1" stop-color="#8379c2" />
          </radialGradient>
          <filter id="drop-shadow-22" filterUnits="userSpaceOnUse">
            <feOffset dx="15" dy="15" />
            <feGaussianBlur result="blur-22" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-22" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="radial-gradient-5" cx="1070.62" cy="618.32" fx="1070.62" fy="618.32" r="72.76"
            xlink:href="#radial-gradient" />
          <filter id="drop-shadow-23" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-23" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-23" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-24" filterUnits="userSpaceOnUse">
            <feOffset dx="20" dy="20" />
            <feGaussianBlur result="blur-24" stdDeviation="15" />
            <feFlood flood-color="#000" flood-opacity=".2" />
            <feComposite in2="blur-24" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-25" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-25" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-25" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_49-3" data-name="Degradado sin nombre 49" x1="1010.63" y1="620.59"
            x2="1129.63" y2="620.59" xlink:href="#Degradado_sin_nombre_49" />
          <filter id="drop-shadow-26" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-26" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-26" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-27" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-27" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-27" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="Degradado_sin_nombre_2-2" data-name="Degradado sin nombre 2" cx="-979.02" fx="-979.02"
            r="152.95" gradientTransform="translate(-345.97) rotate(-180) scale(1 -1)"
            xlink:href="#Degradado_sin_nombre_2" />
          <filter id="drop-shadow-28" filterUnits="userSpaceOnUse">
            <feOffset dx="4" dy="4" />
            <feGaussianBlur result="blur-28" stdDeviation="4" />
            <feFlood flood-color="#000" flood-opacity=".15" />
            <feComposite in2="blur-28" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_1386-4" data-name="Degradado sin nombre 1386" x1="-981.21"
            x2="-483.75" gradientTransform="translate(-331.95) rotate(-180) scale(1.02 -1)"
            xlink:href="#Degradado_sin_nombre_1386" />
          <filter id="drop-shadow-29" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-29" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-29" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_24" data-name="Degradado sin nombre 24" x1="-995.64" y1="112.03"
            x2="-667.69" y2="112.03" gradientTransform="translate(-345.97) rotate(-180) scale(1 -1)"
            gradientUnits="userSpaceOnUse">
            <stop offset=".04" stop-color="#ff9100" />
            <stop offset=".57" stop-color="#ffb64c" />
            <stop offset="1" stop-color="#ffef31" />
          </linearGradient>
          <filter id="drop-shadow-30" filterUnits="userSpaceOnUse">
            <feOffset dx="15" dy="15" />
            <feGaussianBlur result="blur-30" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-30" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="radial-gradient-6" cx="-963.82" cy="164.76" fx="-963.82" fy="164.76" r="72.76"
            gradientTransform="translate(52.83 -633.27) rotate(-135) scale(1 -1)" xlink:href="#radial-gradient" />
          <filter id="drop-shadow-31" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-31" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-31" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-32" filterUnits="userSpaceOnUse">
            <feOffset dx="20" dy="20" />
            <feGaussianBlur result="blur-32" stdDeviation="15" />
            <feFlood flood-color="#000" flood-opacity=".2" />
            <feComposite in2="blur-32" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-33" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-33" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-33" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_49-4" data-name="Degradado sin nombre 49" x1="-1023.81" x2="-904.82"
            gradientTransform="translate(-345.97) rotate(-180) scale(1 -1)" xlink:href="#Degradado_sin_nombre_49" />
          <filter id="drop-shadow-34" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-34" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-34" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-35" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-35" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-35" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_1386-5" data-name="Degradado sin nombre 1386" x1="-885.76"
            y1="390.44" x2="-388.3" y2="390.44" gradientTransform="translate(-331.95) rotate(-180) scale(1.02 -1)"
            xlink:href="#Degradado_sin_nombre_1386" />
          <filter id="drop-shadow-36" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-36" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-36" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_42" data-name="Degradado sin nombre 42" x1="-898.34" y1="336.06"
            x2="-570.39" y2="336.06" gradientTransform="translate(-345.97) rotate(-180) scale(1 -1)"
            gradientUnits="userSpaceOnUse">
            <stop offset=".04" stop-color="#ff4600" />
            <stop offset=".24" stop-color="#ff4a00" />
            <stop offset=".48" stop-color="#ff5800" />
            <stop offset=".73" stop-color="#ff6e00" />
            <stop offset=".98" stop-color="#ff8e00" />
            <stop offset="1" stop-color="#ff9100" />
          </linearGradient>
          <filter id="drop-shadow-37" filterUnits="userSpaceOnUse">
            <feOffset dx="15" dy="15" />
            <feGaussianBlur result="blur-37" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-37" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="radial-gradient-7" cx="-866.53" cy="388.8" fx="-866.53" fy="388.8" r="72.76"
            gradientTransform="translate(-345.97) rotate(-180) scale(1 -1)" xlink:href="#radial-gradient" />
          <filter id="drop-shadow-38" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-38" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-38" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-39" filterUnits="userSpaceOnUse">
            <feOffset dx="20" dy="20" />
            <feGaussianBlur result="blur-39" stdDeviation="15" />
            <feFlood flood-color="#000" flood-opacity=".2" />
            <feComposite in2="blur-39" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-40" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-40" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-40" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_49-5" data-name="Degradado sin nombre 49" x1="-926.52" y1="391.06"
            x2="-807.52" y2="391.06" gradientTransform="translate(-345.97) rotate(-180) scale(1 -1)"
            xlink:href="#Degradado_sin_nombre_49" />
          <filter id="drop-shadow-41" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-41" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-41" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-42" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-42" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-42" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_1386-6" data-name="Degradado sin nombre 1386" x1="-973.6" y1="619.96"
            x2="-476.14" y2="619.96" gradientTransform="translate(-331.95) rotate(-180) scale(1.02 -1)"
            xlink:href="#Degradado_sin_nombre_1386" />
          <filter id="drop-shadow-43" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-43" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-43" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_50" data-name="Degradado sin nombre 50" x1="-987.88" y1="565.58"
            x2="-659.93" y2="565.58" gradientTransform="translate(-345.97) rotate(-180) scale(1 -1)"
            gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#e50048" />
            <stop offset=".48" stop-color="#f02a6b" />
            <stop offset="1" stop-color="#ff5e95" />
          </linearGradient>
          <filter id="drop-shadow-44" filterUnits="userSpaceOnUse">
            <feOffset dx="15" dy="15" />
            <feGaussianBlur result="blur-44" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-44" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <radialGradient id="radial-gradient-8" cx="-956.07" cy="618.32" fx="-956.07" fy="618.32" r="72.76"
            gradientTransform="translate(-345.97) rotate(-180) scale(1 -1)" xlink:href="#radial-gradient" />
          <filter id="drop-shadow-45" filterUnits="userSpaceOnUse">
            <feOffset dx="6" dy="6" />
            <feGaussianBlur result="blur-45" stdDeviation="10" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-45" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-46" filterUnits="userSpaceOnUse">
            <feOffset dx="20" dy="20" />
            <feGaussianBlur result="blur-46" stdDeviation="15" />
            <feFlood flood-color="#000" flood-opacity=".2" />
            <feComposite in2="blur-46" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-47" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-47" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-47" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <linearGradient id="Degradado_sin_nombre_49-6" data-name="Degradado sin nombre 49" x1="-1016.06" y1="620.59"
            x2="-897.06" y2="620.59" gradientTransform="translate(-345.97) rotate(-180) scale(1 -1)"
            xlink:href="#Degradado_sin_nombre_49" />
          <filter id="drop-shadow-48" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-48" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-48" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
          <filter id="drop-shadow-49" filterUnits="userSpaceOnUse">
            <feOffset dx="0" dy="7" />
            <feGaussianBlur result="blur-49" stdDeviation="5" />
            <feFlood flood-color="#000" flood-opacity=".1" />
            <feComposite in2="blur-49" operator="in" />
            <feComposite in="SourceGraphic" />
          </filter>
        </defs>
        <g id="BACKGROUND">
          <rect width="1680.72" height="800" fill="none" />
          <rect width="1680.72" height="800" fill="#37517e" />
        </g>
        <g id="OBJECTS">
          <g>
            <g>
              <path
                d="m1004.5,389.13c0-41.52-15.5-79.42-41.02-108.24-29.75-31.15-71.68-50.56-118.15-50.56-90.21,0-163.35,73.13-163.35,163.34,0,41.52,15.5,79.42,41.03,108.24,29.74,31.15,71.68,50.55,118.15,50.55,90.21,0,163.35-73.13,163.35-163.34Z"
                fill="url(#radial-gradient)" filter="url(#drop-shadow-1)" />
              <path
                d="m751.42,475.8l76.11,76.11c4.49.37,9.03.57,13.62.57,90.21,0,163.34-73.13,163.34-163.34,0-2.59-.06-5.16-.18-7.73l-55.41-55.41-197.48,149.8Z"
                fill="url(#radial-gradient-2)" />
              <g>
                <g fill="none" filter="url(#drop-shadow-2)">
                  <path
                    d="m966.37,389.67c0,68.89-55.84,124.73-124.73,124.73s-124.73-55.84-124.73-124.73,55.84-124.73,124.73-124.73,124.73,55.84,124.73,124.73Z"
                    fill="#fff" filter="url(#drop-shadow-3)" />
                </g>
                <path
                  d="m966.37,389.67c0-31.71-11.83-60.64-31.32-82.65-22.71-23.79-54.73-38.61-90.22-38.61-68.89,0-124.73,55.84-124.73,124.73,0,31.71,11.84,60.65,31.33,82.65,22.71,23.79,54.74,38.6,90.22,38.6,68.89,0,124.73-55.84,124.73-124.73Z"
                  fill="url(#linear-gradient)" filter="url(#drop-shadow-4)" stroke="#fff" stroke-miterlimit="10"
                  stroke-width=".17" />
                <path
                  d="m953.76,334.97c6.89,15.49,10.73,32.64,10.73,50.68,0,68.89-55.84,124.73-124.73,124.73-41.39,0-78.06-20.17-100.76-51.2,3.68,5.88,7.83,11.44,12.41,16.62,22.71,23.79,54.74,38.6,90.22,38.6,68.89,0,124.73-55.84,124.73-124.73,0-19.63-4.54-38.19-12.61-54.7Z"
                  fill="#eceef0" filter="url(#drop-shadow-5)" />
              </g>
            </g>
            <g>
              <text transform="translate(758.01 391.88)" fill="#5b5b5f" font-family="Antonio-Regular, Antonio"
                font-size="45.5">
                <tspan x="0" y="0">PHARMACY</tspan>
              </text>
              <text transform="translate(774.21 427.84)" fill="#5b5b5f" font-family="Antonio-Light, Antonio"
                font-size="28.09" font-weight="300" letter-spacing=".36em">
                <tspan x="0" y="0">SECTION</tspan>
              </text>
            </g>
          </g>
          <path
            d="m1056.51,391.69c-1.25-5.05-5.24-9-10.31-10.18-2.29-47.53-21-90.83-50.56-124.34,2.85-4.45,2.91-10.15.19-14.66l48.64-48.64-4.72-4.72-48.64,48.64c-5.34-3.23-12.39-2.55-17,2.06-5.43,5.43-5.43,14.22,0,19.65,4.31,4.31,10.75,5.19,15.94,2.64,28.44,32.26,46.44,73.93,48.66,119.68-5.56,1.82-9.58,7.04-9.58,13.21s3.8,11.08,9.11,13.03c-3.61,42.69-20.99,81.51-47.66,112.02-5.24-2.73-11.85-1.89-16.24,2.5-5.43,5.43-5.43,14.22,0,19.65,4.61,4.61,11.65,5.29,17,2.06l48.64,48.64,4.72-4.72-48.64-48.64c2.66-4.41,2.66-9.97-.01-14.37,27.8-31.71,45.92-72.11,49.67-116.55,5.3-1.04,9.51-5.09,10.8-10.3h68.79v-6.67h-68.79Z"
            fill="url(#Degradado_sin_nombre_2)" filter="url(#drop-shadow-6)" />


          <a href="/WorkFlow">
            <g id="production">
              <path class="path"
                d="m1486.03,220.28h-439.96c-18.53,0-33.55-24.12-33.55-53.87h0c0-29.75,15.02-53.87,33.55-53.87h439.96c18.53,0,33.55,24.12,33.55,53.87h0c0,29.75-15.02,53.87-33.55,53.87Z"
                fill="url(#Degradado_sin_nombre_1386)" filter="url(#drop-shadow-7)" />
              <path class="path"
                d="m1042.47,128.27h305.12c6.31,0,11.42-7.27,11.42-16.24h0c0-8.97-5.11-16.24-11.42-16.24h-305.12c-6.31,0-11.42,7.27-11.42,16.24h0c0,8.97,5.11,16.24,11.42,16.24Z"
                fill="url(#Degradado_sin_nombre_66)" filter="url(#drop-shadow-8)" />
              <text transform="translate(1125.2 117.06)" fill="#fff" font-family="Poppins-Medium, Poppins"
                font-size="14.67" font-weight="500">
                <tspan x="0" y="0">PRODUCTION &amp; SUPPLY CHAIN</tspan>
              </text>
              <circle cx="1062.87" cy="164.76" r="72.76" transform="translate(194.8 799.82) rotate(-45)"
                fill="url(#radial-gradient-3)" filter="url(#drop-shadow-9)" />
              <g>
                <path
                  d="m1172.51,154.97c.77.39,1.37.96,1.78,1.69.41.74.62,1.61.62,2.63s-.21,1.88-.62,2.61c-.41.73-1,1.29-1.78,1.68-.77.39-1.7.58-2.79.58h-2.9v-9.79h2.9c1.08,0,2.01.2,2.79.59Zm.33,7.32c.71-.71,1.07-1.71,1.07-2.99s-.36-2.29-1.07-3.02c-.71-.72-1.75-1.08-3.12-1.08h-1.92v8.16h1.92c1.36,0,2.4-.36,3.12-1.07Z" />
                <path d="m1177.69,154.38v9.79h-.98v-9.79h.98Z" />
                <path
                  d="m1181.18,163.93c-.49-.22-.88-.54-1.15-.94-.28-.4-.43-.85-.45-1.34h1.04c.05.48.26.89.63,1.25.37.36.92.54,1.64.54.66,0,1.19-.17,1.58-.51.39-.34.58-.77.58-1.3,0-.42-.11-.76-.32-1.01s-.48-.45-.8-.57-.76-.26-1.32-.41c-.65-.18-1.17-.35-1.55-.52s-.71-.43-.98-.78c-.27-.35-.41-.84-.41-1.44,0-.5.13-.95.39-1.35.26-.4.63-.71,1.11-.93.48-.22,1.02-.34,1.64-.34.91,0,1.64.22,2.19.67.55.44.88,1.02.96,1.71h-1.06c-.07-.4-.28-.76-.66-1.07-.37-.31-.88-.47-1.51-.47-.59,0-1.08.16-1.47.47-.39.31-.59.74-.59,1.28,0,.41.11.74.32.99s.48.44.81.57c.32.13.76.27,1.31.42.63.18,1.15.35,1.54.52.39.17.72.44.99.79s.41.83.41,1.43c0,.46-.12.89-.36,1.3-.24.41-.6.74-1.08.99-.48.25-1.04.38-1.71.38s-1.21-.11-1.7-.34Z" />
                <path
                  d="m1193.36,159.22c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
                <path d="m1196.8,155.18v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
                <path d="m1210.24,164.17h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
                <path
                  d="m1213.73,163.93c-.49-.22-.88-.54-1.15-.94-.28-.4-.43-.85-.45-1.34h1.04c.05.48.26.89.63,1.25.37.36.92.54,1.64.54.66,0,1.19-.17,1.58-.51.39-.34.58-.77.58-1.3,0-.42-.11-.76-.32-1.01s-.48-.45-.8-.57-.76-.26-1.32-.41c-.65-.18-1.17-.35-1.55-.52s-.71-.43-.98-.78c-.27-.35-.41-.84-.41-1.44,0-.5.13-.95.39-1.35.26-.4.63-.71,1.11-.93.48-.22,1.02-.34,1.64-.34.91,0,1.64.22,2.19.67.55.44.88,1.02.96,1.71h-1.06c-.07-.4-.28-.76-.66-1.07-.37-.31-.88-.47-1.51-.47-.59,0-1.08.16-1.47.47-.39.31-.59.74-.59,1.28,0,.41.11.74.32.99s.48.44.81.57c.32.13.76.27,1.31.42.63.18,1.15.35,1.54.52.39.17.72.44.99.79s.41.83.41,1.43c0,.46-.12.89-.36,1.3-.24.41-.6.74-1.08.99-.48.25-1.04.38-1.71.38s-1.21-.11-1.7-.34Z" />
                <path d="m1221.45,155.18v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
                <path d="m1228.41,162.54l-1.46,3.67h-.67l1.04-3.67h1.09Z" />
                <path d="m1234.75,154.38v9.79h-.98v-9.79h.98Z" />
                <path d="m1244.74,154.38l-3.71,9.79h-1.12l-3.71-9.79h1.06l3.21,8.72,3.23-8.72h1.04Z" />
                <path
                  d="m1251.88,161.84h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
                <path
                  d="m1261.02,154.97c.77.39,1.37.96,1.78,1.69.41.74.62,1.61.62,2.63s-.21,1.88-.62,2.61c-.41.73-1,1.29-1.78,1.68-.77.39-1.7.58-2.79.58h-2.9v-9.79h2.9c1.08,0,2.01.2,2.79.59Zm.33,7.32c.71-.71,1.07-1.71,1.07-2.99s-.36-2.29-1.07-3.02c-.71-.72-1.75-1.08-3.12-1.08h-1.92v8.16h1.92c1.36,0,2.4-.36,3.12-1.07Z" />
                <path
                  d="m1274.78,154.51v9.66h-.98v-7.71l-3.44,7.71h-.71l-3.44-7.69v7.69h-.98v-9.66h1.04l3.74,8.37,3.74-8.37h1.05Z" />
                <path d="m1277.98,154.38v9.79h-.98v-9.79h.98Z" />
                <path
                  d="m1283.74,159.28l2.97,4.89h-1.09l-2.49-4.09-2.37,4.09h-1.09l2.95-4.93-2.95-4.86h1.09l2.48,4.07,2.39-4.07h1.09l-2.98,4.9Z" />
                <path d="m1294.13,154.38v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
                <path
                  d="m1296.62,154.38v6.16c0,.97.23,1.69.69,2.16.46.47,1.09.7,1.9.7s1.43-.23,1.88-.69c.45-.46.68-1.18.68-2.16v-6.16h.98v6.15c0,1.24-.33,2.17-.99,2.8s-1.51.94-2.57.94-1.91-.31-2.57-.94c-.66-.63-.99-1.56-.99-2.8v-6.15h.98Z" />
                <path
                  d="m1310.14,164.17l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78.56.52.85,1.21.85,2.06,0,.71-.2,1.31-.61,1.81-.41.5-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.52-1.76-.52h-1.96v4.07Z" />
                <path d="m1314.13,155.18v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
                <path d="m1321.09,162.54l-1.46,3.67h-.67l1.04-3.67h1.09Z" />
                <path d="m1327.43,154.38v9.79h-.98v-9.79h.98Z" />
                <path d="m1337.04,164.17h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
                <path d="m1347.02,154.38l-3.71,9.79h-1.12l-3.71-9.79h1.06l3.21,8.72,3.23-8.72h1.04Z" />
                <path d="m1349.47,155.18v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
                <path d="m1362.91,164.17h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
                <path d="m1370.86,154.38v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
                <path
                  d="m1374.34,163.63c-.74-.42-1.32-1.02-1.74-1.78s-.64-1.62-.64-2.58.21-1.82.64-2.58,1.01-1.35,1.74-1.78c.74-.42,1.56-.64,2.46-.64s1.74.21,2.48.64c.74.42,1.32,1.02,1.74,1.78.42.76.63,1.62.63,2.58s-.21,1.82-.63,2.58c-.42.76-1,1.35-1.74,1.78-.74.42-1.56.64-2.48.64s-1.73-.21-2.46-.64Zm4.42-.72c.58-.34,1.04-.82,1.37-1.45s.5-1.36.5-2.19-.17-1.56-.5-2.18c-.34-.62-.79-1.11-1.37-1.44-.58-.34-1.23-.5-1.96-.5s-1.38.17-1.96.5c-.58.34-1.04.82-1.37,1.44-.34.63-.5,1.35-.5,2.18s.17,1.56.5,2.19.79,1.11,1.37,1.45c.58.34,1.23.5,1.96.5s1.38-.17,1.96-.5Z" />
                <path
                  d="m1388.65,164.17l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78.56.52.85,1.21.85,2.06,0,.71-.2,1.31-.61,1.81-.41.5-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.52-1.76-.52h-1.96v4.07Z" />
                <path d="m1398.13,154.38l-3.14,5.98v3.81h-.98v-3.81l-3.16-5.98h1.11l2.55,5.08,2.53-5.08h1.09Z" />
                <path
                  d="m1412.96,154.51v9.66h-.98v-7.71l-3.44,7.71h-.71l-3.44-7.69v7.69h-.98v-9.66h1.04l3.74,8.37,3.74-8.37h1.05Z" />
                <path
                  d="m1420.85,161.84h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
                <path d="m1431.69,164.17h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
                <path
                  d="m1439.58,161.84h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
                <path d="m1447.79,158.57v.83h-5.45v-.83h5.45Z" />
                <path
                  d="m1174.53,174.04c-.28-.64-.71-1.15-1.28-1.52-.57-.37-1.25-.55-2.02-.55-.73,0-1.38.17-1.96.5-.58.34-1.04.81-1.37,1.44s-.5,1.34-.5,2.16.17,1.54.5,2.17c.34.63.79,1.11,1.37,1.44.58.34,1.23.5,1.96.5.68,0,1.29-.15,1.84-.44.55-.29.98-.71,1.32-1.26s.52-1.18.57-1.91h-4.12v-.8h5.15v.71c-.05.86-.28,1.64-.7,2.33s-.98,1.24-1.69,1.65c-.7.4-1.5.6-2.37.6s-1.73-.21-2.46-.64c-.74-.42-1.32-1.02-1.74-1.78s-.64-1.62-.64-2.58.21-1.82.64-2.58,1.01-1.35,1.74-1.78c.74-.42,1.56-.64,2.46-.64,1.05,0,1.96.26,2.74.78.78.52,1.35,1.25,1.71,2.18h-1.15Z" />
                <path d="m1178.75,171.98v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
                <path
                  d="m1194.38,171.31v9.66h-.98v-7.71l-3.44,7.71h-.71l-3.44-7.69v7.69h-.98v-9.66h1.04l3.74,8.37,3.74-8.37h1.05Z" />
                <path d="m1197.58,171.98v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
                <path d="m1211.03,180.97h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
                <path d="m1218.98,171.18v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
                <path d="m1221.43,179.34l-1.46,3.67h-.67l1.04-3.67h1.09Z" />
                <path
                  d="m1232.22,176.02c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
                <path d="m1241.15,171.18l-3.14,5.98v3.81h-.98v-3.81l-3.16-5.98h1.11l2.55,5.08,2.53-5.08h1.09Z" />
                <path
                  d="m1246.11,176.08l2.97,4.89h-1.09l-2.49-4.09-2.37,4.09h-1.09l2.95-4.93-2.95-4.86h1.09l2.48,4.07,2.39-4.07h1.09l-2.98,4.9Z" />
                <path d="m1251.75,171.18v9.79h-.98v-9.79h.98Z" />
                <path
                  d="m1255.24,180.73c-.49-.22-.88-.54-1.15-.94-.28-.4-.43-.85-.45-1.34h1.04c.05.48.26.89.63,1.25.37.36.92.54,1.64.54.66,0,1.19-.17,1.58-.51.39-.34.58-.77.58-1.3,0-.42-.11-.76-.32-1.01s-.48-.45-.8-.57-.76-.26-1.32-.41c-.65-.18-1.17-.35-1.55-.52s-.71-.43-.98-.78c-.27-.35-.41-.84-.41-1.44,0-.5.13-.95.39-1.35.26-.4.63-.71,1.11-.93.48-.22,1.02-.34,1.64-.34.91,0,1.64.22,2.19.67.55.44.88,1.02.96,1.71h-1.06c-.07-.4-.28-.76-.66-1.07-.37-.31-.88-.47-1.51-.47-.59,0-1.08.16-1.47.47-.39.31-.59.74-.59,1.28,0,.41.11.74.32.99s.48.44.81.57c.32.13.76.27,1.31.42.63.18,1.15.35,1.54.52.39.17.72.44.99.79s.41.83.41,1.43c0,.46-.12.89-.36,1.3-.24.41-.6.74-1.08.99-.48.25-1.04.38-1.71.38s-1.21-.11-1.7-.34Z" />
                <path
                  d="m1271.49,178.64h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
                <path d="m1282.33,180.97h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
                <path
                  d="m1290.23,171.77c.77.39,1.37.96,1.78,1.69.41.74.62,1.61.62,2.63s-.21,1.88-.62,2.61c-.41.73-1,1.29-1.78,1.68-.77.39-1.7.58-2.79.58h-2.9v-9.79h2.9c1.08,0,2.01.2,2.79.59Zm.33,7.32c.71-.71,1.07-1.71,1.07-2.99s-.36-2.29-1.07-3.02c-.71-.72-1.75-1.08-3.12-1.08h-1.92v8.16h1.92c1.36,0,2.4-.36,3.12-1.07Z" />
                <path d="m1299.25,171.18v9.79h-.98v-9.79h.98Z" />
                <path d="m1309.23,171.18l-3.71,9.79h-1.12l-3.71-9.79h1.06l3.21,8.72,3.23-8.72h1.04Z" />
                <path
                  d="m1319.97,176.02c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
                <path
                  d="m1327.64,180.97l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78.56.52.85,1.21.85,2.06,0,.71-.2,1.31-.61,1.81-.41.5-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.52-1.76-.52h-1.96v4.07Z" />
                <path d="m1331.63,171.98v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
                <path
                  d="m1343.12,176.02c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
                <path d="m1349.94,167.81l-3.86,15.48h-.97l3.84-15.48h.99Z" />
                <path
                  d="m1351.94,173.48c.42-.76.99-1.35,1.72-1.78.73-.42,1.54-.64,2.44-.64,1.09,0,2.03.26,2.81.78s1.35,1.25,1.7,2.19h-1.15c-.28-.66-.71-1.18-1.28-1.55s-1.27-.56-2.08-.56c-.72,0-1.37.17-1.94.5-.57.34-1.02.82-1.35,1.45-.33.63-.49,1.36-.49,2.19s.16,1.56.49,2.18c.33.62.78,1.11,1.35,1.44.57.34,1.22.5,1.94.5.81,0,1.5-.18,2.08-.55.57-.37,1-.88,1.28-1.53h1.15c-.35.93-.92,1.66-1.71,2.17-.78.51-1.72.77-2.8.77-.9,0-1.71-.21-2.44-.64-.73-.42-1.3-1.01-1.72-1.77-.42-.76-.63-1.61-.63-2.58s.21-1.82.63-2.58Z" />
                <path d="m1369.82,171.18v9.79h-.98v-4.58h-5.31v4.58h-.98v-9.79h.98v4.4h5.31v-4.4h.98Z" />
                <path d="m1373.04,171.98v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
                <path
                  d="m1379.29,173.48c.42-.76.99-1.35,1.72-1.78.73-.42,1.54-.64,2.44-.64,1.09,0,2.03.26,2.81.78s1.35,1.25,1.7,2.19h-1.15c-.28-.66-.71-1.18-1.28-1.55s-1.27-.56-2.08-.56c-.72,0-1.37.17-1.94.5-.57.34-1.02.82-1.35,1.45-.33.63-.49,1.36-.49,2.19s.16,1.56.49,2.18c.33.62.78,1.11,1.35,1.44.57.34,1.22.5,1.94.5.81,0,1.5-.18,2.08-.55.57-.37,1-.88,1.28-1.53h1.15c-.35.93-.92,1.66-1.71,2.17-.78.51-1.72.77-2.8.77-.9,0-1.71-.21-2.44-.64-.73-.42-1.3-1.01-1.72-1.77-.42-.76-.63-1.61-.63-2.58s.21-1.82.63-2.58Z" />
                <path
                  d="m1395.12,180.97l-4.24-4.52v4.52h-.98v-9.79h.98v4.58l4.24-4.58h1.25l-4.58,4.89,4.62,4.9h-1.29Z" />
              </g>
              <g>
                <g fill="none" filter="url(#drop-shadow-10)">
                  <path
                    d="m1121.87,166.19c0,33.28-26.98,60.27-60.27,60.27s-60.27-26.98-60.27-60.27,26.98-60.27,60.27-60.27,60.27,26.98,60.27,60.27Z"
                    fill="#fff" filter="url(#drop-shadow-11)" />
                </g>
                <path
                  d="m1121.87,166.19c0-15.32-5.72-29.3-15.13-39.94-10.97-11.49-26.45-18.65-43.59-18.65-33.28,0-60.27,26.98-60.27,60.27,0,15.32,5.72,29.3,15.14,39.94,10.97,11.49,26.45,18.65,43.59,18.65,33.29,0,60.27-26.98,60.27-60.27Z"
                  fill="url(#Degradado_sin_nombre_49)" filter="url(#drop-shadow-12)" stroke="#fff"
                  stroke-miterlimit="10" stroke-width=".17" />
                <path
                  d="m1115.78,139.76c3.33,7.48,5.19,15.77,5.19,24.49,0,33.28-26.98,60.27-60.27,60.27-20,0-37.72-9.74-48.68-24.74,1.78,2.84,3.79,5.53,6,8.03,10.97,11.49,26.45,18.65,43.59,18.65,33.29,0,60.27-26.98,60.27-60.27,0-9.48-2.19-18.45-6.09-26.43Z"
                  fill="#d8d9dd" filter="url(#drop-shadow-13)" />
              </g>
            </g>
          </a>




          <text transform="translate(1035.75 187.28)" fill="#434040" font-family="Antonio-Bold, Antonio" font-size="54"
            font-weight="700">
            <tspan x="0" y="0">04</tspan>
          </text>


          <g>
            <path
              d="m1583.32,444.31h-439.96c-18.53,0-33.55-24.12-33.55-53.87h0c0-29.75,15.02-53.87,33.55-53.87h439.96c18.53,0,33.55,24.12,33.55,53.87h0c0,29.75-15.02,53.87-33.55,53.87Z"
              fill="url(#Degradado_sin_nombre_1386-2)" filter="url(#drop-shadow-14)" />
            <path
              d="m1139.77,352.3h305.12c6.31,0,11.42-7.27,11.42-16.24h0c0-8.97-5.11-16.24-11.42-16.24h-305.12c-6.31,0-11.42,7.27-11.42,16.24h0c0,8.97,5.11,16.24,11.42,16.24Z"
              fill="url(#Degradado_sin_nombre_173)" filter="url(#drop-shadow-15)" />
            <text transform="translate(1214.49 341.09)" fill="#fff" font-family="Poppins-Medium, Poppins"
              font-size="14.67" font-weight="500">
              <tspan x="0" y="0">CLINICAL PHARMACY EDUCATION</tspan>
            </text>
            <circle cx="1160.16" cy="388.8" r="72.76" fill="url(#radial-gradient-4)" filter="url(#drop-shadow-16)" />
            <text transform="translate(1263 388.93)" font-family="Poppins-Light, Poppins" font-size="14"
              font-weight="300">
              <tspan x="0" y="0">
                LEARNING &amp; DEVELOPMENT INTERNAL AND
              </tspan>
              <tspan x="0" y="16.8">EXTERNAL, RESIDENCY PROGRAM</tspan>
            </text>
            <g>
              <g fill="none" filter="url(#drop-shadow-17)">
                <path
                  d="m1219.17,390.22c0,33.28-26.98,60.27-60.27,60.27s-60.27-26.98-60.27-60.27,26.98-60.27,60.27-60.27,60.27,26.98,60.27,60.27Z"
                  fill="#fff" filter="url(#drop-shadow-18)" />
              </g>
              <path
                d="m1219.17,390.22c0-15.32-5.72-29.3-15.13-39.94-10.97-11.49-26.45-18.65-43.59-18.65-33.28,0-60.27,26.98-60.27,60.27,0,15.32,5.72,29.3,15.14,39.94,10.97,11.49,26.45,18.65,43.59,18.65,33.29,0,60.27-26.98,60.27-60.27Z"
                fill="url(#Degradado_sin_nombre_49-2)" filter="url(#drop-shadow-19)" stroke="#fff"
                stroke-miterlimit="10" stroke-width=".17" />
              <path
                d="m1213.07,363.79c3.33,7.48,5.19,15.77,5.19,24.49,0,33.28-26.98,60.27-60.27,60.27-20,0-37.72-9.74-48.68-24.74,1.78,2.84,3.79,5.53,6,8.03,10.97,11.49,26.45,18.65,43.59,18.65,33.29,0,60.27-26.98,60.27-60.27,0-9.48-2.19-18.45-6.09-26.43Z"
                fill="#d8d9dd" filter="url(#drop-shadow-20)" />
            </g>
            <text transform="translate(1133.05 412.24)" fill="#434040" font-family="Antonio-Bold, Antonio"
              font-size="54" font-weight="700">
              <tspan x="0" y="0">05</tspan>
            </text>
          </g>



          <g>
            <path
              d="m1493.78,673.83h-439.96c-18.53,0-33.55-24.12-33.55-53.87h0c0-29.75,15.02-53.87,33.55-53.87h439.96c18.53,0,33.55,24.12,33.55,53.87h0c0,29.75-15.02,53.87-33.55,53.87Z"
              fill="url(#Degradado_sin_nombre_1386-3)" filter="url(#drop-shadow-21)" />
            <path
              d="m1050.23,581.83h305.12c6.31,0,11.42-7.27,11.42-16.24h0c0-8.97-5.11-16.24-11.42-16.24h-305.12c-6.31,0-11.42,7.27-11.42,16.24h0c0,8.97,5.11,16.24,11.42,16.24Z"
              fill="url(#Degradado_sin_nombre_81)" filter="url(#drop-shadow-22)" />
            <text transform="translate(1147.96 570.62)" fill="#fff" font-family="Poppins-Medium, Poppins"
              font-size="14.67" font-weight="500">
              <tspan x="0" y="0">SPECIALIZED PATIENT CARE</tspan>
            </text>
            <circle cx="1070.62" cy="618.32" r="72.76" fill="url(#radial-gradient-5)" filter="url(#drop-shadow-23)" />
            <g>
              <path
                d="m1180.02,594.84c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
              <path d="m1189.75,590v9.79h-.98v-4.58h-5.31v4.58h-.98v-9.79h.98v4.4h5.31v-4.4h.98Z" />
              <path
                d="m1197.66,597.46h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path
                d="m1206.32,599.78l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78s.85,1.21.85,2.06c0,.71-.2,1.31-.61,1.81s-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.53-1.76-.53h-1.96v4.07Z" />
              <path
                d="m1218.89,590.12v9.66h-.98v-7.71l-3.44,7.71h-.71l-3.44-7.69v7.69h-.98v-9.66h1.04l3.74,8.37,3.74-8.37h1.05Z" />
              <path
                d="m1226.79,597.46h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path
                d="m1230.43,592.3c.42-.76.99-1.35,1.72-1.78.73-.42,1.54-.64,2.44-.64,1.09,0,2.03.26,2.81.78.78.52,1.35,1.25,1.7,2.19h-1.15c-.28-.66-.71-1.18-1.28-1.55-.57-.37-1.27-.56-2.08-.56-.72,0-1.37.17-1.94.5-.57.34-1.02.82-1.35,1.45s-.49,1.36-.49,2.19.16,1.56.49,2.18.78,1.11,1.35,1.44c.57.34,1.22.5,1.94.5.81,0,1.5-.18,2.08-.55.57-.37,1-.88,1.28-1.53h1.15c-.35.93-.92,1.66-1.71,2.17-.78.51-1.72.77-2.8.77-.9,0-1.71-.21-2.44-.64-.73-.42-1.3-1.02-1.72-1.77s-.63-1.61-.63-2.58.21-1.82.63-2.58Z" />
              <path d="m1247.51,590l-3.14,5.98v3.81h-.98v-3.81l-3.16-5.98h1.11l2.55,5.08,2.53-5.08h1.09Z" />
              <path d="m1253.75,598.98h3.51v.8h-4.49v-9.79h.98v8.99Z" />
              <path
                d="m1264.34,597.46h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path
                d="m1273.77,595.57c.38.46.57.99.57,1.6,0,.5-.12.94-.37,1.34-.25.4-.61.71-1.08.94-.48.23-1.04.34-1.71.34h-3.39v-9.79h3.29c.99,0,1.74.23,2.26.69.52.46.78,1.05.78,1.78,0,.61-.16,1.1-.49,1.48-.33.38-.75.64-1.26.79.55.1,1.02.38,1.4.84Zm-5-1.25h2.28c.66,0,1.17-.16,1.53-.47s.54-.74.54-1.29-.18-.97-.54-1.27-.88-.46-1.58-.46h-2.24v3.5Zm4,4.13c.4-.34.6-.8.6-1.39s-.21-1.06-.62-1.41c-.42-.35-.97-.53-1.67-.53h-2.3v3.82h2.34c.71,0,1.26-.17,1.66-.5Z" />
              <path d="m1277.05,598.16l-1.46,3.67h-.67l1.04-3.67h1.09Z" />
              <path d="m1289.79,599.78h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
              <path d="m1292.99,590.79v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1299.99,590v6.16c0,.97.23,1.69.69,2.16s1.09.7,1.9.7,1.43-.23,1.88-.69c.45-.46.68-1.18.68-2.16v-6.16h.98v6.15c0,1.24-.33,2.17-.99,2.8s-1.51.94-2.57.94-1.91-.31-2.57-.94c-.66-.62-.99-1.56-.99-2.8v-6.15h.98Z" />
              <path d="m1314.03,590v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
              <path
                d="m1320.8,599.78l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78s.85,1.21.85,2.06c0,.71-.2,1.31-.61,1.81s-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.53-1.76-.53h-1.96v4.07Z" />
              <path d="m1324.79,590v9.79h-.98v-9.79h.98Z" />
              <path d="m1332.74,590v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
              <path d="m1335.27,590v9.79h-.98v-9.79h.98Z" />
              <path
                d="m1339.43,599.24c-.74-.42-1.32-1.02-1.74-1.78-.42-.76-.64-1.62-.64-2.58s.21-1.82.64-2.58c.42-.76,1.01-1.35,1.74-1.78s1.56-.64,2.46-.64,1.74.21,2.48.64,1.32,1.02,1.74,1.78c.42.76.63,1.62.63,2.58s-.21,1.82-.63,2.58c-.42.76-1,1.35-1.74,1.78s-1.56.64-2.48.64-1.73-.21-2.46-.64Zm4.42-.72c.58-.34,1.04-.82,1.37-1.45s.5-1.36.5-2.19-.17-1.56-.5-2.18-.79-1.11-1.37-1.44c-.58-.34-1.23-.5-1.96-.5s-1.38.17-1.96.5c-.58.34-1.04.82-1.37,1.44s-.5,1.35-.5,2.18.17,1.56.5,2.19.79,1.11,1.37,1.45c.58.34,1.23.5,1.96.5s1.38-.17,1.96-.5Z" />
              <path d="m1355.91,599.78h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
              <path d="m1359.03,598.16l-1.46,3.67h-.67l1.04-3.67h1.09Z" />
              <path
                d="m1369.82,594.84c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
              <path
                d="m1377.96,597.46h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path d="m1382.4,590v9.79h-.98v-9.79h.98Z" />
              <path d="m1392,599.78h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
              <path
                d="m1403.73,597.46h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path d="m1414.57,599.78h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
              <path
                d="m1422.48,590.58c.77.39,1.37.96,1.78,1.69.41.74.62,1.61.62,2.63s-.21,1.88-.62,2.61c-.41.73-1,1.29-1.78,1.68-.77.39-1.7.58-2.79.58h-2.9v-9.79h2.9c1.08,0,2.01.2,2.79.59Zm.33,7.32c.71-.71,1.07-1.71,1.07-2.99s-.36-2.29-1.07-3.02c-.71-.72-1.75-1.08-3.12-1.08h-1.92v8.16h1.92c1.36,0,2.4-.36,3.12-1.07Z" />
              <path
                d="m1435.94,594.84c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
              <path
                d="m1444.08,597.46h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path d="m1452.28,594.18v.83h-5.45v-.83h5.45Z" />
              <path d="m1175.56,615.78h3.51v.8h-4.49v-9.79h.98v8.99Z" />
              <path d="m1181.46,615.78h3.51v.8h-4.49v-9.79h.98v8.99Z" />
              <path d="m1187.35,606.8v9.79h-.98v-9.79h.98Z" />
              <path
                d="m1195.25,614.26h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path d="m1204.43,606.8v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
              <path d="m1206.96,606.8v9.79h-.98v-9.79h.98Z" />
              <path d="m1216.95,606.8l-3.71,9.79h-1.12l-3.71-9.79h1.06l3.21,8.72,3.23-8.72h1.04Z" />
              <path d="m1219.4,607.59v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path d="m1226.35,614.96l-1.46,3.67h-.67l1.04-3.67h1.09Z" />
              <path d="m1232.7,606.8v9.79h-.98v-9.79h.98Z" />
              <path d="m1242.3,616.58h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
              <path d="m1249.82,606.8v.81h-4.31v3.65h3.64v.81h-3.64v4.51h-.98v-9.79h5.29Z" />
              <path d="m1252.41,607.59v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1258.65,609.1c.42-.76.99-1.35,1.72-1.78.73-.42,1.54-.64,2.44-.64,1.09,0,2.03.26,2.81.78.78.52,1.35,1.25,1.7,2.19h-1.15c-.28-.66-.71-1.18-1.28-1.55-.57-.37-1.27-.56-2.08-.56-.72,0-1.37.17-1.94.5-.57.34-1.02.82-1.35,1.45s-.49,1.36-.49,2.19.16,1.56.49,2.18.78,1.11,1.35,1.44c.57.34,1.22.5,1.94.5.81,0,1.5-.18,2.08-.55.57-.37,1-.88,1.28-1.53h1.15c-.35.93-.92,1.66-1.71,2.17-.78.51-1.72.77-2.8.77-.9,0-1.71-.21-2.44-.64-.73-.42-1.3-1.02-1.72-1.77s-.63-1.61-.63-2.58.21-1.82.63-2.58Z" />
              <path d="m1274.99,606.8v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
              <path d="m1277.52,606.8v9.79h-.98v-9.79h.98Z" />
              <path
                d="m1281.68,616.04c-.74-.42-1.32-1.02-1.74-1.78-.42-.76-.64-1.62-.64-2.58s.21-1.82.64-2.58c.42-.76,1.01-1.35,1.74-1.78s1.56-.64,2.46-.64,1.74.21,2.48.64,1.32,1.02,1.74,1.78c.42.76.63,1.62.63,2.58s-.21,1.82-.63,2.58c-.42.76-1,1.35-1.74,1.78s-1.56.64-2.48.64-1.73-.21-2.46-.64Zm4.42-.72c.58-.34,1.04-.82,1.37-1.45s.5-1.36.5-2.19-.17-1.56-.5-2.18-.79-1.11-1.37-1.44c-.58-.34-1.23-.5-1.96-.5s-1.38.17-1.96.5c-.58.34-1.04.82-1.37,1.44s-.5,1.35-.5,2.18.17,1.56.5,2.19.79,1.11,1.37,1.45c.58.34,1.23.5,1.96.5s1.38-.17,1.96-.5Z" />
              <path
                d="m1291.72,606.8v6.16c0,.97.23,1.69.69,2.16s1.09.7,1.9.7,1.43-.23,1.88-.69c.45-.46.68-1.18.68-2.16v-6.16h.98v6.15c0,1.24-.33,2.17-.99,2.8s-1.51.94-2.57.94-1.91-.31-2.57-.94c-.66-.62-.99-1.56-.99-2.8v-6.15h.98Z" />
              <path
                d="m1301.3,616.34c-.49-.22-.88-.54-1.15-.94-.28-.4-.43-.85-.45-1.34h1.04c.05.48.26.89.63,1.25.37.36.92.54,1.64.54.66,0,1.19-.17,1.58-.51.39-.34.58-.77.58-1.29,0-.42-.11-.76-.32-1.01s-.48-.45-.8-.57-.76-.26-1.32-.41c-.65-.18-1.17-.35-1.55-.52s-.71-.43-.98-.78c-.27-.35-.41-.83-.41-1.44,0-.5.13-.95.39-1.35.26-.4.63-.71,1.11-.93.48-.22,1.02-.34,1.64-.34.91,0,1.64.22,2.19.67.55.44.88,1.02.96,1.72h-1.06c-.07-.4-.28-.76-.66-1.07-.37-.31-.88-.47-1.51-.47-.59,0-1.08.16-1.47.47-.39.31-.59.74-.59,1.28,0,.41.11.74.32.99.21.25.48.44.81.57.32.13.76.27,1.31.42.63.18,1.15.35,1.54.53.39.17.72.44.99.79s.41.83.41,1.43c0,.46-.12.89-.36,1.3-.24.41-.6.74-1.08.99-.48.25-1.04.38-1.71.38s-1.21-.11-1.7-.34Z" />
              <path
                d="m1317.56,607.38c.77.39,1.37.96,1.78,1.69.41.74.62,1.61.62,2.63s-.21,1.88-.62,2.61c-.41.73-1,1.29-1.78,1.68-.77.39-1.7.58-2.79.58h-2.9v-9.79h2.9c1.08,0,2.01.2,2.79.59Zm.33,7.32c.71-.71,1.07-1.71,1.07-2.99s-.36-2.29-1.07-3.02c-.71-.72-1.75-1.08-3.12-1.08h-1.92v8.16h1.92c1.36,0,2.4-.36,3.12-1.07Z" />
              <path d="m1322.74,606.8v9.79h-.98v-9.79h.98Z" />
              <path
                d="m1326.24,616.34c-.49-.22-.88-.54-1.15-.94-.28-.4-.43-.85-.45-1.34h1.04c.05.48.26.89.63,1.25.37.36.92.54,1.64.54.66,0,1.19-.17,1.58-.51.39-.34.58-.77.58-1.29,0-.42-.11-.76-.32-1.01s-.48-.45-.8-.57-.76-.26-1.32-.41c-.65-.18-1.17-.35-1.55-.52s-.71-.43-.98-.78c-.27-.35-.41-.83-.41-1.44,0-.5.13-.95.39-1.35.26-.4.63-.71,1.11-.93.48-.22,1.02-.34,1.64-.34.91,0,1.64.22,2.19.67.55.44.88,1.02.96,1.72h-1.06c-.07-.4-.28-.76-.66-1.07-.37-.31-.88-.47-1.51-.47-.59,0-1.08.16-1.47.47-.39.31-.59.74-.59,1.28,0,.41.11.74.32.99.21.25.48.44.81.57.32.13.76.27,1.31.42.63.18,1.15.35,1.54.53.39.17.72.44.99.79s.41.83.41,1.43c0,.46-.12.89-.36,1.3-.24.41-.6.74-1.08.99-.48.25-1.04.38-1.71.38s-1.21-.11-1.7-.34Z" />
              <path d="m1333.96,607.59v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1345.69,614.26h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path
                d="m1350.42,616.34c-.49-.22-.88-.54-1.15-.94-.28-.4-.43-.85-.45-1.34h1.04c.05.48.26.89.63,1.25.37.36.92.54,1.64.54.66,0,1.19-.17,1.58-.51.39-.34.58-.77.58-1.29,0-.42-.11-.76-.32-1.01s-.48-.45-.8-.57-.76-.26-1.32-.41c-.65-.18-1.17-.35-1.55-.52s-.71-.43-.98-.78c-.27-.35-.41-.83-.41-1.44,0-.5.13-.95.39-1.35.26-.4.63-.71,1.11-.93.48-.22,1.02-.34,1.64-.34.91,0,1.64.22,2.19.67.55.44.88,1.02.96,1.72h-1.06c-.07-.4-.28-.76-.66-1.07-.37-.31-.88-.47-1.51-.47-.59,0-1.08.16-1.47.47-.39.31-.59.74-.59,1.28,0,.41.11.74.32.99.21.25.48.44.81.57.32.13.76.27,1.31.42.63.18,1.15.35,1.54.53.39.17.72.44.99.79s.41.83.41,1.43c0,.46-.12.89-.36,1.3-.24.41-.6.74-1.08.99-.48.25-1.04.38-1.71.38s-1.21-.11-1.7-.34Z" />
              <path d="m1358.14,607.59v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path d="m1365.09,614.96l-1.46,3.67h-.67l1.04-3.67h1.09Z" />
              <path
                d="m1375.89,611.64c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
              <path d="m1385.62,606.8v9.79h-.98v-4.58h-5.31v4.58h-.98v-9.79h.98v4.4h5.31v-4.4h.98Z" />
              <path d="m1394.33,606.8l-3.14,5.98v3.81h-.98v-3.81l-3.16-5.98h1.11l2.55,5.08,2.53-5.08h1.09Z" />
              <path
                d="m1395.93,609.1c.42-.76.99-1.35,1.72-1.78.73-.42,1.54-.64,2.44-.64,1.09,0,2.03.26,2.81.78.78.52,1.35,1.25,1.7,2.19h-1.15c-.28-.66-.71-1.18-1.28-1.55-.57-.37-1.27-.56-2.08-.56-.72,0-1.37.17-1.94.5-.57.34-1.02.82-1.35,1.45s-.49,1.36-.49,2.19.16,1.56.49,2.18.78,1.11,1.35,1.44c.57.34,1.22.5,1.94.5.81,0,1.5-.18,2.08-.55.57-.37,1-.88,1.28-1.53h1.15c-.35.93-.92,1.66-1.71,2.17-.78.51-1.72.77-2.8.77-.9,0-1.71-.21-2.44-.64-.73-.42-1.3-1.02-1.72-1.77s-.63-1.61-.63-2.58.21-1.82.63-2.58Z" />
              <path d="m1413.81,606.8v9.79h-.98v-4.58h-5.31v4.58h-.98v-9.79h.98v4.4h5.31v-4.4h.98Z" />
              <path d="m1417.03,606.8v9.79h-.98v-9.79h.98Z" />
              <path
                d="m1424.93,614.26h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path d="m1434.11,606.8v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
              <path
                d="m1440.88,616.58l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78s.85,1.21.85,2.06c0,.71-.2,1.31-.61,1.81s-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.53-1.76-.53h-1.96v4.07Z" />
              <path d="m1444.86,606.8v9.79h-.98v-9.79h.98Z" />
              <path
                d="m1447.27,609.1c.42-.76.99-1.35,1.72-1.78.73-.42,1.54-.64,2.44-.64,1.09,0,2.03.26,2.81.78.78.52,1.35,1.25,1.7,2.19h-1.15c-.28-.66-.71-1.18-1.28-1.55-.57-.37-1.27-.56-2.08-.56-.72,0-1.37.17-1.94.5-.57.34-1.02.82-1.35,1.45s-.49,1.36-.49,2.19.16,1.56.49,2.18.78,1.11,1.35,1.44c.57.34,1.22.5,1.94.5.81,0,1.5-.18,2.08-.55.57-.37,1-.88,1.28-1.53h1.15c-.35.93-.92,1.66-1.71,2.17-.78.51-1.72.77-2.8.77-.9,0-1.71-.21-2.44-.64-.73-.42-1.3-1.02-1.72-1.77s-.63-1.61-.63-2.58.21-1.82.63-2.58Z" />
              <path d="m1458.78,614.96l-1.46,3.67h-.67l1.04-3.67h1.09Z" />
              <path
                d="m1179.79,633.38l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78s.85,1.21.85,2.06c0,.71-.2,1.31-.61,1.81s-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.53-1.76-.53h-1.96v4.07Z" />
              <path
                d="m1188.47,631.06h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path
                d="m1197.61,624.18c.77.39,1.37.96,1.78,1.69.41.74.62,1.61.62,2.63s-.21,1.88-.62,2.61c-.41.73-1,1.29-1.78,1.68-.77.39-1.7.58-2.79.58h-2.9v-9.79h2.9c1.08,0,2.01.2,2.79.59Zm.33,7.32c.71-.71,1.07-1.71,1.07-2.99s-.36-2.29-1.07-3.02c-.71-.72-1.75-1.08-3.12-1.08h-1.92v8.16h1.92c1.36,0,2.4-.36,3.12-1.07Z" />
              <path d="m1202.79,623.6v9.79h-.98v-9.79h.98Z" />
              <path
                d="m1206.95,632.84c-.74-.42-1.32-1.02-1.74-1.78-.42-.76-.64-1.62-.64-2.58s.21-1.82.64-2.58c.42-.76,1.01-1.35,1.74-1.78s1.56-.64,2.46-.64,1.74.21,2.48.64,1.32,1.02,1.74,1.78c.42.76.63,1.62.63,2.58s-.21,1.82-.63,2.58c-.42.76-1,1.35-1.74,1.78s-1.56.64-2.48.64-1.73-.21-2.46-.64Zm4.42-.72c.58-.34,1.04-.82,1.37-1.45s.5-1.36.5-2.19-.17-1.56-.5-2.18-.79-1.11-1.37-1.44c-.58-.34-1.23-.5-1.96-.5s-1.38.17-1.96.5c-.58.34-1.04.82-1.37,1.44s-.5,1.35-.5,2.18.17,1.56.5,2.19.79,1.11,1.37,1.45c.58.34,1.23.5,1.96.5s1.38-.17,1.96-.5Z" />
              <path
                d="m1221.48,628.44c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
              <path d="m1231.21,623.6v9.79h-.98v-4.58h-5.31v4.58h-.98v-9.79h.98v4.4h5.31v-4.4h.98Z" />
              <path
                d="m1239.12,631.06h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path
                d="m1247.79,633.38l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78s.85,1.21.85,2.06c0,.71-.2,1.31-.61,1.81s-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.53-1.76-.53h-1.96v4.07Z" />
              <path
                d="m1260.36,623.72v9.66h-.98v-7.71l-3.44,7.71h-.71l-3.44-7.69v7.69h-.98v-9.66h1.04l3.74,8.37,3.74-8.37h1.05Z" />
              <path
                d="m1268.26,631.06h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path
                d="m1271.9,625.9c.42-.76.99-1.35,1.72-1.78.73-.42,1.54-.64,2.44-.64,1.09,0,2.03.26,2.81.78.78.52,1.35,1.25,1.7,2.19h-1.15c-.28-.66-.71-1.18-1.28-1.55-.57-.37-1.27-.56-2.08-.56-.72,0-1.37.17-1.94.5-.57.34-1.02.82-1.35,1.45s-.49,1.36-.49,2.19.16,1.56.49,2.18.78,1.11,1.35,1.44c.57.34,1.22.5,1.94.5.81,0,1.5-.18,2.08-.55.57-.37,1-.88,1.28-1.53h1.15c-.35.93-.92,1.66-1.71,2.17-.78.51-1.72.77-2.8.77-.9,0-1.71-.21-2.44-.64-.73-.42-1.3-1.02-1.72-1.77s-.63-1.61-.63-2.58.21-1.82.63-2.58Z" />
              <path d="m1283.49,624.39v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1290.49,623.6v6.16c0,.97.23,1.69.69,2.16s1.09.7,1.9.7,1.43-.23,1.88-.69c.45-.46.68-1.18.68-2.16v-6.16h.98v6.15c0,1.24-.33,2.17-.99,2.8s-1.51.94-2.57.94-1.91-.31-2.57-.94c-.66-.62-.99-1.56-.99-2.8v-6.15h.98Z" />
              <path d="m1304.53,623.6v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
              <path d="m1307.06,623.6v9.79h-.98v-9.79h.98Z" />
              <path
                d="m1309.47,625.9c.42-.76.99-1.35,1.72-1.78.73-.42,1.54-.64,2.44-.64,1.09,0,2.03.26,2.81.78.78.52,1.35,1.25,1.7,2.19h-1.15c-.28-.66-.71-1.18-1.28-1.55-.57-.37-1.27-.56-2.08-.56-.72,0-1.37.17-1.94.5-.57.34-1.02.82-1.35,1.45s-.49,1.36-.49,2.19.16,1.56.49,2.18.78,1.11,1.35,1.44c.57.34,1.22.5,1.94.5.81,0,1.5-.18,2.08-.55.57-.37,1-.88,1.28-1.53h1.15c-.35.93-.92,1.66-1.71,2.17-.78.51-1.72.77-2.8.77-.9,0-1.71-.21-2.44-.64-.73-.42-1.3-1.02-1.72-1.77s-.63-1.61-.63-2.58.21-1.82.63-2.58Z" />
              <path
                d="m1325.75,631.06h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path d="m1330.19,632.58h3.51v.8h-4.49v-9.79h.98v8.99Z" />
              <path d="m1336,631.76l-1.46,3.67h-.67l1.04-3.67h1.09Z" />
              <path
                d="m1342.96,628.44c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
              <path d="m1346.4,624.39v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1357.67,633.38l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78s.85,1.21.85,2.06c0,.71-.2,1.31-.61,1.81s-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.53-1.76-.53h-1.96v4.07Z" />
              <path
                d="m1361.95,633.14c-.49-.22-.88-.54-1.15-.94-.28-.4-.43-.85-.45-1.34h1.04c.05.48.26.89.63,1.25.37.36.92.54,1.64.54.66,0,1.19-.17,1.58-.51.39-.34.58-.77.58-1.29,0-.42-.11-.76-.32-1.01s-.48-.45-.8-.57-.76-.26-1.32-.41c-.65-.18-1.17-.35-1.55-.52s-.71-.43-.98-.78c-.27-.35-.41-.83-.41-1.44,0-.5.13-.95.39-1.35.26-.4.63-.71,1.11-.93.48-.22,1.02-.34,1.64-.34.91,0,1.64.22,2.19.67.55.44.88,1.02.96,1.72h-1.06c-.07-.4-.28-.76-.66-1.07-.37-.31-.88-.47-1.51-.47-.59,0-1.08.16-1.47.47-.39.31-.59.74-.59,1.28,0,.41.11.74.32.99.21.25.48.44.81.57.32.13.76.27,1.31.42.63.18,1.15.35,1.54.53.39.17.72.44.99.79s.41.83.41,1.43c0,.46-.12.89-.36,1.3-.24.41-.6.74-1.08.99-.48.25-1.04.38-1.71.38s-1.21-.11-1.7-.34Z" />
              <path
                d="m1370.62,632.84c-.74-.42-1.32-1.02-1.74-1.78-.42-.76-.64-1.62-.64-2.58s.21-1.82.64-2.58c.42-.76,1.01-1.35,1.74-1.78s1.56-.64,2.46-.64,1.74.21,2.48.64,1.32,1.02,1.74,1.78c.42.76.63,1.62.63,2.58s-.21,1.82-.63,2.58c-.42.76-1,1.35-1.74,1.78s-1.56.64-2.48.64-1.73-.21-2.46-.64Zm4.42-.72c.58-.34,1.04-.82,1.37-1.45s.5-1.36.5-2.19-.17-1.56-.5-2.18-.79-1.11-1.37-1.44c-.58-.34-1.23-.5-1.96-.5s-1.38.17-1.96.5c-.58.34-1.04.82-1.37,1.44s-.5,1.35-.5,2.18.17,1.56.5,2.19.79,1.11,1.37,1.45c.58.34,1.23.5,1.96.5s1.38-.17,1.96-.5Z" />
              <path d="m1387.1,633.38h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
              <path
                d="m1395,631.06h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path d="m1399.43,632.58h3.51v.8h-4.49v-9.79h.98v8.99Z" />
              <path d="m1405.33,623.6v9.79h-.98v-9.79h.98Z" />
              <path d="m1408.18,632.51h5v.87h-6.15v-.78l4.93-8.13h-4.84v-.87h5.99v.78l-4.93,8.13Z" />
              <path d="m1415.88,624.39v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1427.63,624.18c.77.39,1.37.96,1.78,1.69.41.74.62,1.61.62,2.63s-.21,1.88-.62,2.61c-.41.73-1,1.29-1.78,1.68-.77.39-1.7.58-2.79.58h-2.9v-9.79h2.9c1.08,0,2.01.2,2.79.59Zm.33,7.32c.71-.71,1.07-1.71,1.07-2.99s-.36-2.29-1.07-3.02c-.71-.72-1.75-1.08-3.12-1.08h-1.92v8.16h1.92c1.36,0,2.4-.36,3.12-1.07Z" />
              <path
                d="m1184.15,640.52v9.66h-.98v-7.71l-3.44,7.71h-.71l-3.44-7.69v7.69h-.98v-9.66h1.04l3.74,8.37,3.74-8.37h1.05Z" />
              <path d="m1187.35,641.19v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1199.1,640.98c.77.39,1.37.96,1.78,1.69.41.74.62,1.61.62,2.63s-.21,1.88-.62,2.61c-.41.73-1,1.29-1.78,1.68-.77.39-1.7.58-2.79.58h-2.9v-9.79h2.9c1.08,0,2.01.2,2.79.59Zm.33,7.32c.71-.71,1.07-1.71,1.07-2.99s-.36-2.29-1.07-3.02c-.71-.72-1.75-1.08-3.12-1.08h-1.92v8.16h1.92c1.36,0,2.4-.36,3.12-1.07Z" />
              <path d="m1204.28,640.4v9.79h-.98v-9.79h.98Z" />
              <path
                d="m1206.69,642.7c.42-.76.99-1.35,1.72-1.78.73-.42,1.54-.64,2.44-.64,1.09,0,2.03.26,2.81.78.78.52,1.35,1.25,1.7,2.19h-1.15c-.28-.66-.71-1.18-1.28-1.55-.57-.37-1.27-.56-2.08-.56-.72,0-1.37.17-1.94.5-.57.34-1.02.82-1.35,1.45s-.49,1.36-.49,2.19.16,1.56.49,2.18.78,1.11,1.35,1.44c.57.34,1.22.5,1.94.5.81,0,1.5-.18,2.08-.55.57-.37,1-.88,1.28-1.53h1.15c-.35.93-.92,1.66-1.71,2.17-.78.51-1.72.77-2.8.77-.9,0-1.71-.21-2.44-.64-.73-.42-1.3-1.02-1.72-1.77s-.63-1.61-.63-2.58.21-1.82.63-2.58Z" />
              <path d="m1218.28,640.4v9.79h-.98v-9.79h.98Z" />
              <path d="m1227.88,650.18h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
              <path d="m1231.09,641.19v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1246.66,647.86h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path d="m1257.49,650.18h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
              <path
                d="m1265.4,640.98c.77.39,1.37.96,1.78,1.69.41.74.62,1.61.62,2.63s-.21,1.88-.62,2.61c-.41.73-1,1.29-1.78,1.68-.77.39-1.7.58-2.79.58h-2.9v-9.79h2.9c1.08,0,2.01.2,2.79.59Zm.33,7.32c.71-.71,1.07-1.71,1.07-2.99s-.36-2.29-1.07-3.02c-.71-.72-1.75-1.08-3.12-1.08h-1.92v8.16h1.92c1.36,0,2.4-.36,3.12-1.07Z" />
              <path d="m1274.42,641.19v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1284.01,645.3l2.97,4.89h-1.09l-2.49-4.09-2.37,4.09h-1.09l2.95-4.93-2.95-4.86h1.09l2.48,4.07,2.39-4.07h1.09l-2.98,4.9Z" />
              <path d="m1294.39,640.4v.81h-2.72v8.97h-.98v-8.97h-2.73v-.81h6.43Z" />
              <path d="m1296.93,641.19v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path
                d="m1312.55,640.52v9.66h-.98v-7.71l-3.44,7.71h-.71l-3.44-7.69v7.69h-.98v-9.66h1.04l3.74,8.37,3.74-8.37h1.05Z" />
              <path
                d="m1320.21,645.24c-.55.51-1.38.77-2.48.77h-1.97v4.17h-.98v-9.79h2.95c1.09,0,1.92.26,2.47.77.56.51.83,1.19.83,2.04s-.28,1.52-.83,2.03Zm-.18-2.03c0-.65-.18-1.15-.55-1.48s-.95-.5-1.75-.5h-1.97v3.95h1.97c1.53,0,2.3-.65,2.3-1.96Z" />
              <path
                d="m1328.34,647.86h-4.45l-.85,2.32h-1.04l3.57-9.66h1.11l3.56,9.66h-1.04l-.85-2.32Zm-.29-.81l-1.93-5.29-1.93,5.29h3.86Z" />
              <path
                d="m1337.01,650.18l-2.42-4.09h-1.81v4.09h-.98v-9.79h2.94c1.09,0,1.92.26,2.49.78s.85,1.21.85,2.06c0,.71-.2,1.31-.61,1.81s-1.01.82-1.8.97l2.52,4.16h-1.18Zm-4.23-4.89h1.97c.76,0,1.34-.19,1.73-.56.39-.37.58-.87.58-1.5s-.19-1.14-.56-1.49c-.37-.35-.96-.53-1.76-.53h-1.96v4.07Z" />
              <path d="m1341,641.19v3.65h3.71v.81h-3.71v3.71h4.13v.81h-5.11v-9.8h5.11v.81h-4.13Z" />
              <path d="m1354.44,650.18h-.98l-5.42-8.23v8.23h-.98v-9.79h.98l5.42,8.22v-8.22h.98v9.79Z" />
              <path
                d="m1358.6,649.64c-.74-.42-1.32-1.02-1.74-1.78-.42-.76-.64-1.62-.64-2.58s.21-1.82.64-2.58c.42-.76,1.01-1.35,1.74-1.78s1.56-.64,2.46-.64,1.74.21,2.48.64,1.32,1.02,1.74,1.78c.42.76.63,1.62.63,2.58s-.21,1.82-.63,2.58c-.42.76-1,1.35-1.74,1.78s-1.56.64-2.48.64-1.73-.21-2.46-.64Zm4.42-.72c.58-.34,1.04-.82,1.37-1.45s.5-1.36.5-2.19-.17-1.56-.5-2.18-.79-1.11-1.37-1.44c-.58-.34-1.23-.5-1.96-.5s-1.38.17-1.96.5c-.58.34-1.04.82-1.37,1.44s-.5,1.35-.5,2.18.17,1.56.5,2.19.79,1.11,1.37,1.45c.58.34,1.23.5,1.96.5s1.38-.17,1.96-.5Z" />
              <path
                d="m1368.63,640.4v6.16c0,.97.23,1.69.69,2.16s1.09.7,1.9.7,1.43-.23,1.88-.69c.45-.46.68-1.18.68-2.16v-6.16h.98v6.15c0,1.24-.33,2.17-.99,2.8s-1.51.94-2.57.94-1.91-.31-2.57-.94c-.66-.62-.99-1.56-.99-2.8v-6.15h.98Z" />
              <path
                d="m1378.22,649.94c-.49-.22-.88-.54-1.15-.94-.28-.4-.43-.85-.45-1.34h1.04c.05.48.26.89.63,1.25.37.36.92.54,1.64.54.66,0,1.19-.17,1.58-.51.39-.34.58-.77.58-1.29,0-.42-.11-.76-.32-1.01s-.48-.45-.8-.57-.76-.26-1.32-.41c-.65-.18-1.17-.35-1.55-.52s-.71-.43-.98-.78c-.27-.35-.41-.83-.41-1.44,0-.5.13-.95.39-1.35.26-.4.63-.71,1.11-.93.48-.22,1.02-.34,1.64-.34.91,0,1.64.22,2.19.67.55.44.88,1.02.96,1.72h-1.06c-.07-.4-.28-.76-.66-1.07-.37-.31-.88-.47-1.51-.47-.59,0-1.08.16-1.47.47-.39.31-.59.74-.59,1.28,0,.41.11.74.32.99.21.25.48.44.81.57.32.13.76.27,1.31.42.63.18,1.15.35,1.54.53.39.17.72.44.99.79s.41.83.41,1.43c0,.46-.12.89-.36,1.3-.24.41-.6.74-1.08.99-.48.25-1.04.38-1.71.38s-1.21-.11-1.7-.34Z" />
            </g>
            <g>
              <g fill="none" filter="url(#drop-shadow-24)">
                <path
                  d="m1129.63,619.75c0,33.28-26.98,60.27-60.27,60.27s-60.27-26.98-60.27-60.27,26.98-60.27,60.27-60.27,60.27,26.98,60.27,60.27Z"
                  fill="#fff" filter="url(#drop-shadow-25)" />
              </g>
              <path
                d="m1129.63,619.75c0-15.32-5.72-29.3-15.13-39.94-10.97-11.49-26.45-18.65-43.59-18.65-33.28,0-60.27,26.98-60.27,60.27,0,15.32,5.72,29.3,15.14,39.94,10.97,11.49,26.45,18.65,43.59,18.65,33.29,0,60.27-26.98,60.27-60.27Z"
                fill="url(#Degradado_sin_nombre_49-3)" filter="url(#drop-shadow-26)" stroke="#fff"
                stroke-miterlimit="10" stroke-width=".17" />
              <path
                d="m1123.54,593.32c3.33,7.48,5.19,15.77,5.19,24.49,0,33.28-26.98,60.27-60.27,60.27-20,0-37.72-9.74-48.68-24.74,1.78,2.84,3.79,5.53,6,8.03,10.97,11.49,26.45,18.65,43.59,18.65,33.29,0,60.27-26.98,60.27-60.27,0-9.48-2.19-18.45-6.09-26.43Z"
                fill="#d8d9dd" filter="url(#drop-shadow-27)" />
            </g>
            <text transform="translate(1043.51 640.84)" fill="#434040" font-family="Antonio-Bold, Antonio"
              font-size="54" font-weight="700">
              <tspan x="0" y="0">06</tspan>
            </text>
          </g>


          <path
            d="m624.21,391.69c1.25-5.05,5.24-9,10.31-10.18,2.29-47.53,21-90.83,50.56-124.34-2.85-4.45-2.91-10.15-.19-14.66l-48.64-48.64,4.72-4.72,48.64,48.64c5.34-3.23,12.39-2.55,17,2.06,5.43,5.43,5.43,14.22,0,19.65-4.31,4.31-10.75,5.19-15.94,2.64-28.44,32.26-46.44,73.93-48.66,119.68,5.56,1.82,9.58,7.04,9.58,13.21s-3.8,11.08-9.11,13.03c3.61,42.69,20.99,81.51,47.66,112.02,5.24-2.73,11.85-1.89,16.24,2.5,5.43,5.43,5.43,14.22,0,19.65-4.61,4.61-11.65,5.29-17,2.06l-48.64,48.64-4.72-4.72,48.64-48.64c-2.66-4.41-2.66-9.97.01-14.37-27.8-31.71-45.92-72.11-49.67-116.55-5.3-1.04-9.51-5.09-10.8-10.3h-68.79v-6.67h68.79Z"
            fill="url(#Degradado_sin_nombre_2-2)" filter="url(#drop-shadow-28)" />


          <g>
            <path
              d="m194.69,220.28h439.96c18.53,0,33.55-24.12,33.55-53.87h0c0-29.75-15.02-53.87-33.55-53.87H194.69c-18.53,0-33.55,24.12-33.55,53.87h0c0,29.75,15.02,53.87,33.55,53.87Z"
              fill="url(#Degradado_sin_nombre_1386-4)" filter="url(#drop-shadow-29)" />
            <path
              d="m638.25,128.27h-305.12c-6.31,0-11.42-7.27-11.42-16.24h0c0-8.97,5.11-16.24,11.42-16.24h305.12c6.31,0,11.42,7.27,11.42,16.24h0c0,8.97-5.11,16.24-11.42,16.24Z"
              fill="url(#Degradado_sin_nombre_24)" filter="url(#drop-shadow-30)" />
            <text transform="translate(352.76 117.06)" fill="#fff" font-family="Poppins-Medium, Poppins"
              font-size="14.67" font-weight="500">
              <tspan x="0" y="0">DECISION SUPPORT &amp; DIC</tspan>
            </text>
            <circle cx="617.85" cy="164.76" r="72.76" transform="translate(64.46 485.15) rotate(-45)"
              fill="url(#radial-gradient-6)" filter="url(#drop-shadow-31)" />
            <text transform="translate(262.55 156.27)" font-family="Poppins-Light, Poppins" font-size="14"
              font-weight="300">
              <tspan x="0" y="0">INTERNAL PROCESS CONTROL, QUALITY</tspan>
              <tspan x="-5.87" y="16.8">
                CONTROL, PHARMACOVIGILANCE, DATA
              </tspan>
              <tspan x="104.44" y="33.6">ANALYSIS, HIS AND DIC</tspan>
            </text>
            <g>
              <g fill="none" filter="url(#drop-shadow-32)">
                <path
                  d="m558.85,166.19c0,33.28,26.98,60.27,60.27,60.27s60.27-26.98,60.27-60.27-26.98-60.27-60.27-60.27-60.27,26.98-60.27,60.27Z"
                  fill="#fff" filter="url(#drop-shadow-33)" />
              </g>
              <path
                d="m558.85,166.19c0-15.32,5.72-29.3,15.13-39.94,10.97-11.49,26.45-18.65,43.59-18.65,33.28,0,60.27,26.98,60.27,60.27,0,15.32-5.72,29.3-15.14,39.94-10.97,11.49-26.45,18.65-43.59,18.65-33.29,0-60.27-26.98-60.27-60.27Z"
                fill="url(#Degradado_sin_nombre_49-4)" filter="url(#drop-shadow-34)" stroke="#fff"
                stroke-miterlimit="10" stroke-width=".17" />
              <path
                d="m564.94,139.76c-3.33,7.48-5.19,15.77-5.19,24.49,0,33.28,26.98,60.27,60.27,60.27,20,0,37.72-9.74,48.68-24.74-1.78,2.84-3.79,5.53-6,8.03-10.97,11.49-26.45,18.65-43.59,18.65-33.29,0-60.27-26.98-60.27-60.27,0-9.48,2.19-18.45,6.09-26.43Z"
                fill="#d8d9dd" filter="url(#drop-shadow-35)" />
            </g>
            <text transform="translate(596.88 186.28)" fill="#434040" font-family="Antonio-Bold, Antonio" font-size="54"
              font-weight="700">
              <tspan x="0" y="0">01</tspan>
            </text>
          </g>


          <g>
            <path
              d="m97.4,444.31h439.96c18.53,0,33.55-24.12,33.55-53.87h0c0-29.75-15.02-53.87-33.55-53.87H97.4c-18.53,0-33.55,24.12-33.55,53.87h0c0,29.75,15.02,53.87,33.55,53.87Z"
              fill="url(#Degradado_sin_nombre_1386-5)" filter="url(#drop-shadow-36)" />
            <path
              d="m540.95,352.3H235.84c-6.31,0-11.42-7.27-11.42-16.24h0c0-8.97,5.11-16.24,11.42-16.24h305.12c6.31,0,11.42,7.27,11.42,16.24h0c0,8.97-5.11,16.24-11.42,16.24Z"
              fill="url(#Degradado_sin_nombre_42)" filter="url(#drop-shadow-37)" />
            <text transform="translate(323.16 341.09)" fill="#fff" font-family="Poppins-Medium, Poppins"
              font-size="14.67" font-weight="500">
              <tspan x="0" y="0">INPATIENT</tspan>
            </text>
            <circle cx="520.56" cy="388.8" r="72.76" fill="url(#radial-gradient-7)" filter="url(#drop-shadow-38)" />
            <text transform="translate(138.73 379.96)" font-family="Poppins-Light, Poppins" font-size="14"
              font-weight="300">
              <tspan x="0" y="0">INTENSIVE CARE, SURGICAL,BONE MARROW</tspan>
              <tspan x="21" y="16.8">TRANSPLANT , HEMATOLOGY AND SOLID</tspan>
              <tspan x="235.41" y="33.6">TUMER</tspan>
            </text>
            <g>
              <g fill="none" filter="url(#drop-shadow-39)">
                <path
                  d="m461.55,390.22c0,33.28,26.98,60.27,60.27,60.27s60.27-26.98,60.27-60.27-26.98-60.27-60.27-60.27-60.27,26.98-60.27,60.27Z"
                  fill="#fff" filter="url(#drop-shadow-40)" />
              </g>
              <path
                d="m461.55,390.22c0-15.32,5.72-29.3,15.13-39.94,10.97-11.49,26.45-18.65,43.59-18.65,33.28,0,60.27,26.98,60.27,60.27,0,15.32-5.72,29.3-15.14,39.94-10.97,11.49-26.45,18.65-43.59,18.65-33.29,0-60.27-26.98-60.27-60.27Z"
                fill="url(#Degradado_sin_nombre_49-5)" filter="url(#drop-shadow-41)" stroke="#fff"
                stroke-miterlimit="10" stroke-width=".17" />
              <path
                d="m467.64,363.79c-3.33,7.48-5.19,15.77-5.19,24.49,0,33.28,26.98,60.27,60.27,60.27,20,0,37.72-9.74,48.68-24.74-1.78,2.84-3.79,5.53-6,8.03-10.97,11.49-26.45,18.65-43.59,18.65-33.29,0-60.27-26.98-60.27-60.27,0-9.48,2.19-18.45,6.09-26.43Z"
                fill="#d8d9dd" filter="url(#drop-shadow-42)" />
            </g>
            <text transform="translate(495.96 411.32)" fill="#434040" font-family="Antonio-Bold, Antonio" font-size="54"
              font-weight="700">
              <tspan x="0" y="0">02</tspan>
            </text>
          </g>



          <g>
            <path
              d="m186.93,673.83h439.96c18.53,0,33.55-24.12,33.55-53.87h0c0-29.75-15.02-53.87-33.55-53.87H186.93c-18.53,0-33.55,24.12-33.55,53.87h0c0,29.75,15.02,53.87,33.55,53.87Z"
              fill="url(#Degradado_sin_nombre_1386-6)" filter="url(#drop-shadow-43)" />
            <path
              d="m630.49,581.83h-305.12c-6.31,0-11.42-7.27-11.42-16.24h0c0-8.97,5.11-16.24,11.42-16.24h305.12c6.31,0,11.42,7.27,11.42,16.24h0c0,8.97-5.11,16.24-11.42,16.24Z"
              fill="url(#Degradado_sin_nombre_50)" filter="url(#drop-shadow-44)" />
            <text transform="translate(401.26 570.62)" fill="#fff" font-family="Poppins-Medium, Poppins"
              font-size="14.67" font-weight="500">
              <tspan x="0" y="0">OUTPATIENT</tspan>
            </text>
            <circle cx="610.09" cy="618.32" r="72.76" fill="url(#radial-gradient-8)" filter="url(#drop-shadow-45)" />
            <text transform="translate(228.49 618.78)" font-family="Poppins-Light, Poppins" font-size="14"
              font-weight="300">
              <tspan x="0" y="0">DAYCARE, MEDIUM CARE UNIT, OUTPATIENT</tspan>
              <tspan x="46.41" y="16.8">CLINIC AND EMERGENCY CARE UNIT</tspan>
            </text>
            <g>
              <g fill="none" filter="url(#drop-shadow-46)">
                <path
                  d="m551.09,619.75c0,33.28,26.98,60.27,60.27,60.27s60.27-26.98,60.27-60.27-26.98-60.27-60.27-60.27-60.27,26.98-60.27,60.27Z"
                  fill="#fff" filter="url(#drop-shadow-47)" />
              </g>
              <path
                d="m551.09,619.75c0-15.32,5.72-29.3,15.13-39.94,10.97-11.49,26.45-18.65,43.59-18.65,33.28,0,60.27,26.98,60.27,60.27,0,15.32-5.72,29.3-15.14,39.94-10.97,11.49-26.45,18.65-43.59,18.65-33.29,0-60.27-26.98-60.27-60.27Z"
                fill="url(#Degradado_sin_nombre_49-6)" filter="url(#drop-shadow-48)" stroke="#fff"
                stroke-miterlimit="10" stroke-width=".17" />
              <path
                d="m557.18,593.32c-3.33,7.48-5.19,15.77-5.19,24.49,0,33.28,26.98,60.27,60.27,60.27,20,0,37.72-9.74,48.68-24.74-1.78,2.84-3.79,5.53-6,8.03-10.97,11.49-26.45,18.65-43.59,18.65-33.29,0-60.27-26.98-60.27-60.27,0-9.48,2.19-18.45,6.09-26.43Z"
                fill="#d8d9dd" filter="url(#drop-shadow-49)" />
            </g>
            <text transform="translate(585.38 641.84)" fill="#434040" font-family="Antonio-Bold, Antonio" font-size="54"
              font-weight="700">
              <tspan x="0" y="0">03</tspan>
            </text>
          </g>


        </g>
      </svg>

    </div>
  </section>

  <!-- Vendor JS Files -->
  <script src="../js//aos.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/glightbox.min.js"></script>
  <script src="../js/isotope.pkgd.min.js"></script>
  <script src="../js/swiper-bundle.min.js"></script>
  <script src="../js/noframework.waypoints.js"></script>
  <script src="../js/validate.js"></script>

  <!-- jQuary -->
  <script src="../js/jQuary/jquery-3.7.1.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../js/main.js"></script>


  <!-- MY JS STYLE -->
  <script src="../js/sidebars.js"></script>
</body>

</html>