/* @import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap"); */


html,
body {
  height: 100%;
}


body{
  background-image: url(../img/welcomebackground.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media (max-width: 1300px) {
  body {background-image: url(/img/cover2-01-01.png);
  background-color: #87C8EE;}
  } */

.svg {
  font-family: "Russo One", sans-serif;
  /* width: 100%; */
  /* height: 100%; */
  height: 70%;
}

.svg text {
  animation: stroke 5s alternate;
  stroke-width: 0;
  stroke: rgba(72, 138, 204, 1);
  font-size: 45px;
  fill: rgba(72, 138, 204, 1)
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
  }

  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgba(72, 138, 204, 1);
    /* stroke: rgba(54, 95, 160, 0); */
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper-one {
  background-color: transparent;
height: 50px;
}

.wrapper-one:hover{
  cursor:default;
}


.card {
  width: 280px;
  height: 530px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  border-radius: 20px;
}

.card > * {
  margin: 0;
}

.card__title {
  font-size: 23px;
  font-weight: 900;
  color: #333;
}

.card__content {
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__form input {
  margin-top: 10px;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 1px solid #333;
  color: black;
}

.card__form button {
  width: 250%;
  border: 0;
  background: #111;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
  outline: 0;
}

.sign-up:hover {
  opacity: 0.8;
} 
