<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.112.5">
  <title>PharmacyConnect</title>

  <!-- LINK FAVICON -->
  <link rel="shortcut icon" href="/svg/ConnectLogo.svg" type="image/x-icon">

  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">


  <link href="../css/bootstrap-icons.css" rel="stylesheet" />


  <!-- lINK TO BOOTSTRAP CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- HEADER CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- Custom styles for this template -->
  <link href="../css/sidebars.css" rel="stylesheet">




</head>

<body>


  <!-- /*--------------------------------------------------------------
# BACK TO TOP
--------------------------------------------------------------*/ -->

  <div class="opacity" id="uparrow">
    <svg id="svgarrow" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
      class="bi bi-arrow-up-short" viewBox="0 0 16 16">
      <path
        d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
    </svg>
  </div>



  <!-- /*--------------------------------------------------------------
# header
--------------------------------------------------------------*/ -->
  <%- include("../partials/header.ejs") %>

    <!-- /*------------------------------------------------------------
# light icon
--------------------------------------------------------------*/ -->
    <%- include("../partials/lighticon.ejs") %>

      <!-- /*------------------------------------------------------------
# body and sidebar
--------------------------------------------------------------*/ -->

    <embed src="" type="">




      <!-- LINK TO jQuary -->
      <script src="../js/jquery-3.7.1.min.js"></script>

      <!-- LINK TO BOOTSTRAP.JS -->
      <script src="../js/aos.js"></script>
      <script src="../js/bootstrap.bundle.min.js"></script>
      <script src="../js/glightbox.min.js"></script>
      <script src="../js/isotope.pkgd.min.js"></script>
      <script src="../js/swiper-bundle.min.js"></script>
      <script src="../js/noframework.waypoints.js"></script>
      <script src="../js/validate.js"></script>



      <script src="../js/main.js"></script>

      <!-- LINK TO CUSTOM JS -->
      <script defer src="../js/sidebars.js"></script>
</body>

</html>