<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PharmacyConnect</title>

  <link rel="shortcut icon" href="svg/ConnectLogo.svg" type="image/x-icon" />

  <!-- bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet" />

  <!-- bootstrap JS -->
  <script defer src="js/bootstrap.bundle.min.js"></script>

  <!-- Custom styles for this template -->
  <link href="css/Avatar.css" rel="stylesheet" />
</head>

<body>
  <div class="d-flex flex-column align-items-center mt-5">
    <h1 class="mb-3">Select Your Avatar</h1>

    
    <div id="carouselExample" class="carousel slide text-center mt-5" style="width: 150px; height: 150px">
      <div class="carousel-inner">

      <form  action="/avatarselection1" method="post" enctype="multipart/form-data">
          <div class="carousel-item active" style="position: relative">
            <input name="inputprofile" id="in1" type="file"  />
            <img src="/img/Avatar/Untitled-1-1.png" class="d-block" alt="..." />
            <label class="mt-3" for="in1"><button type="submit" class="btn1 btn btn-outline-primary">
                Select
              </button></label>
          </div>
      </form>

      <form  action="/avatarselection2" method="post" enctype="multipart/form-data">
        <div class="carousel-item">
          <input name="inputprofile" id="in2" type="file" />
          <img src="/img/Avatar/Untitled-1-2.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in2"><button class="btn2 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection3" method="post" enctype="multipart/form-data">
        <div  class="carousel-item">
          <input id="in3" name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-3.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in3"><button class="btn3 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection4" method="post" enctype="multipart/form-data">
        <div  class="carousel-item">
          <input id="in4" name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-4.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in4"><button class="btn4 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection5" method="post" enctype="multipart/form-data">
        <div  class="carousel-item">
          <input id="in5" name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-5.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in5"><button class="btn5 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection6" method="post" enctype="multipart/form-data">
        <div id="in6" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-6.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in6"><button class="btn6 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection7" method="post" enctype="multipart/form-data">
        <div id="in7" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-7.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in7"><button class="btn7 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection8" method="post" enctype="multipart/form-data">
        <div id="in8" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-8.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in8"><button class="btn8 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection9" method="post" enctype="multipart/form-data">
        <div id="in9" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-9.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in9"><button class="btn9 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection10" method="post" enctype="multipart/form-data">
        <div id="in10" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-10.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in10"><button class="btn10 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection11" method="post" enctype="multipart/form-data">
        <div id="in11" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-11.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in11"><button class="btn11 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection12" method="post" enctype="multipart/form-data">
        <div id="in12" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-12.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in12"><button class="btn12 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection13" method="post" enctype="multipart/form-data">
        <div id="in13" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-13.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in13"><button class="btn13 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection14" method="post" enctype="multipart/form-data">
        <div id="in14" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-14.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in14"><button class="btn14 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection15" method="post" enctype="multipart/form-data">
        <div id="in15" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-15.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in15"><button class="btn15 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection16" method="post" enctype="multipart/form-data">
        <div id="in16" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-16.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in16"><button class="btn16 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection17" method="post" enctype="multipart/form-data">
        <div id="in17" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-17.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in17"><button class="btn17 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection18" method="post" enctype="multipart/form-data">
        <div id="in18" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-18.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in18"><button class="btn18 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection19" method="post" enctype="multipart/form-data">
        <div id="in19" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-19.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in19"><button class="btn19 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection20" method="post" enctype="multipart/form-data">
        <div id="in20" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-20.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in20"><button class="btn20 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection21" method="post" enctype="multipart/form-data">
        <div id="in21" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-21.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in21"><button class="btn21 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection22" method="post" enctype="multipart/form-data">
        <div id="in22" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-22.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in22"><button class="btn22 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection23" method="post" enctype="multipart/form-data">
        <div id="in23" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-23.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in23"><button class="btn23 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection24" method="post" enctype="multipart/form-data">
        <div id="in24" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-24.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in24"><button class="btn24 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection25" method="post" enctype="multipart/form-data">
        <div id="in25" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-25.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in25"><button class="btn25 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection26" method="post" enctype="multipart/form-data">
        <div id="in26" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-26.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in26"><button class="btn26 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection27" method="post" enctype="multipart/form-data">
        <div id="in27" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-27.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in27"><button class="btn27 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>
  
      <form  action="/avatarselection28" method="post" enctype="multipart/form-data">
        <div id="in28" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-28.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in28"><button class="btn28 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection29" method="post" enctype="multipart/form-data">
        <div id="in29" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-29.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in29"><button class="btn29 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection30" method="post" enctype="multipart/form-data">
        <div id="in30" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-30.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in30"><button class="btn30 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection31" method="post" enctype="multipart/form-data">
        <div id="in31" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-31.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in31"><button class="btn31 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection32" method="post" enctype="multipart/form-data">
        <div id="in32" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-32.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in32"><button class="btn32 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection33" method="post" enctype="multipart/form-data">
        <div id="in33" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-33.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in33"><button class="btn33 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection34" method="post" enctype="multipart/form-data">
        <div id="in34" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-34.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in34"><button class="btn34 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection35" method="post" enctype="multipart/form-data">
        <div id="in35" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-35.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in35"><button class="btn35 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection36" method="post" enctype="multipart/form-data">
        <div id="in36" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-36.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in36"><button class="btn36 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection37" method="post" enctype="multipart/form-data">
        <div id="in37" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-37.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in37"><button class="btn37 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection38" method="post" enctype="multipart/form-data">
        <div id="in38" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-38.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in38"><button class="btn38 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection39" method="post" enctype="multipart/form-data">
        <div id="in39" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-39.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in39"><button class="btn39 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection40" method="post" enctype="multipart/form-data">
        <div id="in40" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-40.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in40"><button class="btn40 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection41" method="post" enctype="multipart/form-data">
        <div id="in41" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-41.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in41"><button class="btn41 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection42" method="post" enctype="multipart/form-data">
        <div id="in42" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-42.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in42"><button class="btn42 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection43" method="post" enctype="multipart/form-data">
        <div id="in43" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-43.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in43"><button class="btn43 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection44" method="post" enctype="multipart/form-data">
        <div id="in44" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-44.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in44"><button class="btn44 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection45" method="post" enctype="multipart/form-data">
        <div id="in45" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-45.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in45"><button class="btn45 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection46" method="post" enctype="multipart/form-data">
        <div id="in46" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-46.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in46"><button class="btn46 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection47" method="post" enctype="multipart/form-data">
        <div id="in47" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-47.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in47"><button class="btn47 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection48" method="post" enctype="multipart/form-data">
        <div id="in48" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-48.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in48"><button class="btn48 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection49" method="post" enctype="multipart/form-data">
        <div id="in49" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-49.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in49"><button class="btn49 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection50" method="post" enctype="multipart/form-data">
        <div id="in50" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-50.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in50"><button class="btn50 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection51" method="post" enctype="multipart/form-data">
        <div id="in51" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-51.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in51"><button class="btn51 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection52" method="post" enctype="multipart/form-data">
        <div id="in52" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-52.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in52"><button class="btn52 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>

      <form  action="/avatarselection53" method="post" enctype="multipart/form-data">
        <div id="in53" class="carousel-item">
          <input name="inputprofile" type="file" />
          <img src="/img/Avatar/Untitled-1-53.png" class="d-block" alt="..." />
          <label class="mt-3" type="submit" for="in53"><button class="btn53 btn btn-outline-primary">
              Select
            </button></label>
        </div>
      </form>


      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <script src="/js/Avatar.js"></script>

  <!-- <script>
    const headerattach = document.querySelector("#headerattach");
    const headerimgsrc = document.querySelector("#headerimgsrc");
    headerattach.addEventListener("change", (eo) => {
      const choosedfile = eo.target.files[0];
      const choosefileurl = URL.createObjectURL(choosedfile);
      console.log(choosefileurl);
      headerimgsrc.src = choosefileurl;
    });
  </script> -->
</body>

</html>