<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PharmacyConnect</title>
  <link rel="shortcut icon" href="svg/ConnectLogo.svg" type="image/x-icon">

  <!-- bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">


  <!-- bootstrap JS -->
  <script defer src="js/bootstrap.bundle.min.js"></script>

  <!-- My Style -->
  <link rel="stylesheet" href="css/firstwelcome.css">
</head>
<body>
  
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column">
      <div class="wrapper-one">
        <svg class="svg">
          <text x="50%" y="50%" dy=".35em" text-anchor="middle">
            WELCOME
          </text>
        </svg>
      </div>
      <img src="/svg/PharmacyLogo.svg"  alt="">
    </div>
    <div class="d-inline-flex flex-row mt-2">
      <a href="/login"><button class="btn btn-outline-dark me-2"> Log In</button></a>
      <a href="/register"><button class="btn btn-outline-dark ms-2"> Sign Up</button></a>
    </div>
  </div>

</body>
</html>