<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <!-- FONT LINK -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="shortcut icon" href="svg/ConnectLogo.svg" type="image/x-icon">
  <!-- bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- My STYLE CSS -->
  <link rel="stylesheet" href="css/forgetpage.css">
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">


  <main class="form-signin m-auto p-2 text-center">
    <img class="mb-4 d-flex mx-auto" src="svg/PharmacyLogo.svg" alt="" height="150">
    <h1 class="mb-3 text-center"> Please Enter The Code Sent To Your Email</h1>


    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="resetcode" name="resetcode" placeholder="code" required>
      <label for="code">ResetCode</label>
    </div>

    <div id="resetnot" class=" d-flex flex-row align-items-center my-2 d-none"
      style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
      <img class="ms-1 " src="/svg/alertsign-02.svg" height="20vh" alt="">
      <p class="my-1 ms-1">ResetCode Invalid Or Expired</p>
    </div>


    <div id="wrongpassword" class=" d-flex flex-row align-items-center mt-2 d-none"
      style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
      <img class="ms-1" src="/svg/alertsign-02.svg" height="20vh" alt="">
      <p class="my-1 ms-1">Wrong Password</p>
    </div>

    <form id="verifitpassword">
      <button class="btn btn-primary w-50 py-2 my-3 " type="submit" value="login">Submit</button>
    </form>


  </main>

  <script>
    verifitpassword.addEventListener('click', async (event) => {
      event.preventDefault()
      const res = await fetch("/verifiyresetcode", {
        method: "POST",
        body: JSON.stringify({ resetcode: resetcode.value }),
        headers: { "Content-Type": "application/json" },
      });

      const data = await res.json();
      if (data.message) {
        resetnot.classList.remove('d-none');
        resetcode.classList.add('redframe');
      } else {
        resetnot.classList.add('d-none');
        resetcode.classList.remove('redframe');
      }

      if (data.verified) {
        location.assign("/changepasswordpage")
      }
    });

  </script>




</body>

</html>