<!Doctype html>
<html lang="en" data-bs-theme="auto">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.118.2">
  <title>PharmacyConnect</title>
  <link rel="shortcut icon" href="svg/ConnectLogo.svg" type="image/x-icon">


  <!-- bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">


  <!-- bootstrap JS -->
  <script defer src="js/bootstrap.bundle.min.js"></script>


  <!-- Custom styles for this template -->
  <link href="css/sign-in.css" rel="stylesheet">
</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">


  <main class="form-signin w-100 m-auto">
    <img class="mb-3 d-flex mx-auto" src="svg/PharmacyLogo.svg" alt="" height="130">
    <h1 class="h3 mb-2 fw-normal text-center"
      style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> Sign in</h1>

    <form id="checklogin">

      <div class="form-floating">
        <input type="text" class="form-control" id="code" name="code" placeholder="code" required>
        <label for="code">Code</label>
      </div>

      <div id="codenot" class=" d-flex flex-row align-items-center my-2 d-none"
        style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
        <img class="ms-1 " src="/svg/alertsign-02.svg" height="20vh" alt="">
        <p class="my-1 ms-1">You Are Not Registered</p>
      </div>

      <div id="inactiveuser" class=" d-flex flex-row align-items-center my-2 d-none"
        style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
        <img class="ms-1 " src="/svg/alertsign-02.svg" height="20vh" alt="">
        <p class="my-1 ms-1">You Are Not Authorized</p>
      </div>

      <div id="validcode" class=" d-flex flex-row align-items-center my-2 d-none"
        style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
        <img class="ms-1 " src="/svg/alertsign-02.svg" height="20vh" alt="">
        <p class="my-1 ms-1">Please Enter A Valid Code</p>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control rounded mt-2" id="password" name="password" placeholder="password">
        <label for="password">Password</label>
      </div>

      <div id="wrongpassword" class=" d-flex flex-row align-items-center mt-2 d-none"
        style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
        <img class="ms-1" src="/svg/alertsign-02.svg" height="20vh" alt="">
        <p class="my-1 ms-1">Wrong Password</p>
      </div>


      <button class="btn btn-primary w-100 py-2 " type="submit" value="login">Sign in</button>
    </form>

    <button class="btn btn-primary w-100 py-2 my-2" type="submit"><a href="/register"
        style="color: white; text-decoration: none;">Registration</a></button>

    <!-- <button id="activbtn" class="btn btn-primary w-100 py-2 mb-2 d-none" type="submit"><a href=""
        style="color: white; text-decoration: none;">Activation</a></button> -->

    <form id="forgetpassword">
      <button class="btn btn-primary w-100 py-2 mb-2" type="submit">Forget Password</button>
    </form>

    <div>

    </div>
    <!-- <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p> -->
  </main>
  <script>
    checklogin.addEventListener('submit', async (event) => {
      event.preventDefault()
      const res = await fetch("/checklogin", {
        method: "POST",
        body: JSON.stringify({ code: code.value, password: password.value }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      if (data.validationerrors) {
        data.validationerrors.forEach(item => {
          if (item.path == "code") {
            validcode.classList.remove('d-none');
            code.classList.add('redframe');
          } else {
            validcode.classList.add('d-none');
            code.classList.remove('redframe');
          }
        });
      }

      if (data.inactiveuser) {
        inactiveuser.classList.remove('d-none');
        // activbtn.classList.remove('d-none');
        code.classList.add('redframe');
      } else {
        inactiveuser.classList.add('d-none');
        // activbtn.classList.add('d-none');
        code.classList.remove('redframe');
      }

      if (data.codenotfound) {
        codenot.classList.remove('d-none');
        code.classList.add('redframe');
      } else {
        codenot.classList.add('d-none');
        code.classList.remove('redframe');
      }

      if (data.wrongpassword) {
        wrongpassword.classList.remove('d-none');
        password.classList.add('redframe');
      } else {
        wrongpassword.classList.add('d-none');
        wrongpassword.classList.remove('redframe');
      }


      if (data.loginuser) {
        location.assign("/welcome")
      }
    });
  </script>

  <script>
    forgetpassword.addEventListener("submit", async (event) => {
      event.preventDefault()
      const res = await fetch("/forgetpassword", {
        method: "POST",
        body: JSON.stringify({ code: code.value }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      if (data.status) {
        codenot.classList.remove('d-none');
        code.classList.add('redframe');
      } else {
        codenot.classList.add('d-none');
        code.classList.remove('redframe');
      }
      if (data.loginuser) {
        location.assign("/forgetpassword")
      }
    })
  </script>



</body>

</html>