<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <!-- FONT LINK -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="shortcut icon" href="svg/ConnectLogo.svg" type="image/x-icon">
  <!-- bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- My STYLE CSS -->
  <link rel="stylesheet" href="css/welcome.css">
</head>

<body>

  <div>
    <img src="svg/welcome-01.svg" alt="">
  </div>

  <div>
    <img class="mt-0" style="width: 150px; height: 150px;" src="<%= user.profileimage %>" alt="">
  </div>


  <h1>
    <%= user.firstname %> <%= user.lastname %> 
  </h1>


  <div>
    <button class="btn btn-outline-primary"><a href="/interface">KEEP ON GOING</a></button>
    
  </div>
</body>

</html>